{{- if (or .next .previous) -}}

{{- $newer := .next -}}
{{- $older := .previous -}}

<nav id="next-prev" role="navigation">

{{- with $newer -}}
<a class="mr-eaves-modern-thin" href="{{ .Permalink }}">← Newer</a>
{{- else -}}
<span></span>
{{- end -}}

{{- if (and .current .current.Params.categories) -}}

{{ partial "navigation/categories.html" .current }}

{{- else -}}

<span id="empty-space"></span>

{{- end -}}

{{- with $older -}}
<a class="mr-eaves-modern-thin" href="{{ .Permalink }}">Older →</a>
{{- else -}}
<span></span>
{{- end -}}

</nav>

{{- end -}}