{{- with $.Paginator -}}

{{- $newer := false -}}
{{- if .HasPrev }}{{ $newer = .Prev.URL }}{{ end -}}

{{- $older := false -}}
{{- if .HasNext }}{{ $older = .Next.URL }}{{ end -}}


{{- if (or $newer $older) -}}



<nav class="pagination" role="navigation">

{{- with $newer -}}
<a class="newer-posts" href="{{ . }}">← Newer Posts</a>
{{- end -}}

<span class="page-number">Page {{ .PageNumber }} of {{ .TotalPages }}</span>

{{- with $older -}}
<a class="older-posts" href="{{ . }}">Older Posts →</a>
{{- end -}}

</nav>

{{- end -}}

{{- end -}}
