{{- with $.Paginator -}}

{{- $newer := false -}}
{{- if .HasPrev }}{{ $newer = .Prev.URL }}{{ end -}}

{{- $older := false -}}
{{- if .HasNext }}{{ $older = .Next.URL }}{{ end -}}


{{- if (or $newer $older) -}}



<nav id="pagination" class="next-prev" role="navigation">

{{- with $newer -}}
<a class="newer" href="{{ . }}">Newer Posts</a>
{{- end -}}

<span id="page-number">Page <span id="page">{{ .PageNumber }}</span> of <span id="total">{{ .TotalPages }}</span></span>

{{- with $older -}}
<a class="older" href="{{ . }}">Older Posts</a>
{{- end -}}

</nav>

{{- end -}}

{{- end -}}