{{/* Load the config file values into the scratch */}}
{{ partial "plugin-plausible/load-parameters.html" . -}}

{{- with .Scratch.Get "plugin-plausible.Parameters" -}}

{{- if .Config.DebugPrint -}}
{{- printf "\n<!--\nplugin-plausible.Parameters:\n%s\n-->" (. | jsonify (dict "prefix" " " "indent" "  ")) | safeHTML -}}
{{- end -}}

{{/* Insert the plugin version and build time */}}
{{- $time := (time (sub now.Unix 28800)).Format "Jan 2 at 15:04" -}}
{{- $version := .Config.Version -}}
{{- printf "\n<!-- Plausible v%s (built on %s) -->\n" $version $time | safeHTML -}}

<script async 
  defer 
  data-domain="{{ .Config.RegisteredDomain }}" 
  {{ with .Config.DataAPI }} data-api="{{ . }}" {{ end }}
  src="{{ .Config.Src }}"
></script>
{{- end }}