{{/* Template for the category cloud page */}}
{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/css/dark-nav.css">
<link rel="stylesheet" href="/assets/css/cloud.css">
{{ end }}

{{ define "main" }}

{{ with site.Taxonomies.categories }}

{{/* Max and min page counts */}}
{{ $max_count := mul (len (index .ByCount 0).Pages) 1.0 }}
{{ $min_count := mul (len (index .ByCount.Reverse 0).Pages) 1.0 }}

{{/* Max and min font sizes in rem units */}}
{{ $max_size := (site.Params.cloud_max_rem | default 1.34) }}
{{ $min_size := (site.Params.cloud_min_rem | default 1.0) }}

{{/* Max and min font weights */}}
{{ $max_weight := site.Params.cloud_max_weight | default 800 }}
{{ $min_weight := site.Params.cloud_min_weight | default 300 }}

<div id="category-cloud">

{{ range $name, $taxonomy := . }}

{{ $page_count := len $taxonomy.Pages }}
{{ $percent_max_count := div $page_count ($max_count) }}
{{ $font_size := mul $max_size $percent_max_count }}
{{ if (lt $font_size $min_size) }}{{ $font_size = $min_size }}{{ end }}
{{ $font_weight := mul $max_weight $percent_max_count }}
{{ if (lt $font_weight $min_weight) }}{{ $font_weight = $min_weight }}{{ end }}
{{ $fract_weight := mod $font_weight 100 }}
{{ $font_weight = cond (eq $fract_weight 0) $font_weight (add (sub $font_weight $fract_weight) (cond (ge $fract_weight 50) 100 0)) }}

<a 
  href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}"
  class="category-cloud-link"
  style="font-size:{{ $font_size }}rem; font-weight:{{ $font_weight }}"
  >{{ $name }}({{ $page_count }})</a>
{{ end }}
</div>

{{ end }}

{{ end }}