{{/* Template for the category cloud page */}}
{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/css/dark-nav.css">
<link rel="stylesheet" href="/assets/css/cloud.css">
{{ end }}

{{ define "main" }}
<section id="wrapper">
{{ with site.Taxonomies.categories }}
{{ $max_count := mul (add (len (index .ByCount 0).Pages) 1) 1.0 }}
{{ $min_count := mul (len (index .ByCount.Reverse 0).Pages) 1.0 }}
{{ $count_spread := sub $max_count $min_count }}

{{/* Max and min font sizes in rem units */}}
{{ $max_size := site.Params.cloud_max_rem | default 1.34 }}
{{ $min_size := site.Params.cloud_min_rem | default 0.9167 }}
{{ $size_spread := sub $max_size $min_size }}
{{ $síze_step := div $size_spread $count_spread }}

{{/* Max and min font weights */}}
{{ $max_weight := site.Params.cloud_max_weight | default 800 }}
{{ $min_weight := site.Params.cloud_min_weight | default 100 }}
{{ $weight_spread := sub $max_weight $min_weight }}
{{ $weight_step := div $weight_spread $count_spread }}

<div id="category-cloud">

{{ range $name, $taxonomy := . }}

{{ $page_count := len $taxonomy.Pages }}
{{ $percent_max_count := div $page_count $max_count }}
{{ $font_size := add $min_size (mul $size_step $percent_max_count) }}
{{ $font_weight := add $min_weight (mul $weight_step $percent_max_count) }}
{{ $fract_weight := mod $font_weight 100 }}
{{ $font_weigth = cond (eq $fract_weight 0) $font_weight (add (sub $font_weight $fract_weight) (cond (ge $fract_weight 50) 100 0) }}

<a 
  href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}"
  class="category-cloud-link"
  style="font-size:{{ $font_size }}rem; font-weight:{{ $font_weight }}"
  >{{ $name }}({{ $page_count }})</a>
{{ end }}
</div>

{{ end }}

</section>

{{ end }}