<li>
  <article>
    <section class="post-body">
    
    {{ $categories := .Params.categories }}
      
    {{ if (or .Title (findRE `<!--more-->` .Content)) }}
    
    <header>
      <h2 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </h2>
    </header>
    
     {{ .Summary }}
     
    {{ if .Truncated }}
    
    <p><a class="read-more" href="{{ .RelPermalink }}">Read More</a></p>
    
    {{ end }}
    
    {{ else }}
    
    {{ .Content }}
    
    {{ end }}
    
    </section>
    
    {{ $datetime := .Date.Format site.Params.Theme.Date.DateTime }}
    {{ $time := .Date.Format site.Params.Theme.Date.TimeDay }}
    
    <a class="dates-link" href="{{ .Permalink }}" class="u-url">
      <aside class="dates">
        <time datetime="{{ $datetime }}" class="dt-published">
        → {{ $time }}
        </time>
      </aside>
    </a>
  </article>
</li>