<article>
{{- if .Title -}}
  <header>
    <h2 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    </h2>
  </header>
{{- end -}}

  <section class="post-body">
{{- if (or .Title (findRE `<!--more-->` .Content)) -}}
  
   {{- .Summary -}}
   
  {{- if .Truncated -}}
  
  <p><a class="read-more" href="{{ .RelPermalink }}">Read More</a></p>
  
  {{- end -}}
  
{{- else -}}
  
  {{- .Content -}}
  
{{- end -}}
  
  </section>
  
  {{- $datetime := .Date.Format site.Params.Theme.Date.DateTime -}}
  {{- $time := .Date.Format site.Params.Theme.Date.TimeDay -}}
  
  <footer>
  <a href="{{ .Permalink }}" class="u-url">
    <time datetime="{{ $datetime }}" class="dt-published">
      → {{ $time }}
      </time>
  </a>
  </footer>
</article>