{{- if .Site.Params.include_debug_comments }}
{{ printf "<!-- BEGIN layouts/partials/head/favicons.html -->" | safeHTML }}
{{ end -}}
<link rel="shortcut icon" href="https://moondeer.blog/uploads/2021/5260d2013e.png" type="image/x-icon" />
<link rel="apple-touch-icon" sizes="180x180" href="https://moondeer.blog/uploads/2021/5260d2013e.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://moondeer.blog/uploads/2021/91b72102d1.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://moondeer.blog/uploads/2021/df2e80d9c3.png">
<link rel="mask-icon" href="https://moondeer.blog/uploads/2021/3b64fed44b.svg" color="#4a577c">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#da532c">
{{- if .Site.Params.include_debug_comments }}
{{ printf "<!-- END layouts/partials/head/favicons.html -->" | safeHTML }}
{{ end -}}