{{- with site.Params.theme_color }}
{{- $color := . }}
<meta name="theme-color" content="{{ $color }}">
<meta name="msapplication-TileColor" content="{{ $color }}">
{{- with site.Params.mask_icon }}
<link rel="mask-icon" href="{{ . }}" color="{{ $color }}">
{{- end }}
{{- end }}
{{- with site.Params.shortcut_icon }}
<link rel="shortcut icon" href="{{ . }}" type="image/x-icon" />
{{- end }}
{{- with site.Params.apple_touch_icon }}
<link rel="apple-touch-icon" sizes="180x180" href="{{ . }}">
{{- end }}
{{- with site.Params.icon_32 }}
<link rel="icon" type="image/png" sizes="32x32" href="{{ . }}">
{{- end }}
{{- with site.Params.icon_16 }}
<link rel="icon" type="image/png" sizes="16x16" href="{{ . }}">
{{- end }}