{{- /* Modified to include custom links and metadata, branch linked CSS by whether page is a list, and include partials for the absorbed plugins … for starters */ -}}
<head>
{{ partial "head/theme-version.html" . }}
{{- if .Site.Params.include_debug_comments }}
{{ partial "debug/dump-params.html" . }}
{{ end -}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta content="{{ .Site.Author.name }}" name="author">
<title>
{{- /* block "title" . */ -}}
  {{- .Site.Title -}}
  {{- with .Title -}}
    {{- if eq $.Site.Title . -}}
      {{- printf " - Latest" -}}
    {{- else -}}
      {{- printf " - %s" . -}}
    {{- end -}}
  {{- end -}}
{{- /* end */ -}}
</title>
<meta name="description" content="{{ .Description | default .Site.Params.description }}">
{{- partial "head/favicons.html" . -}}
{{- partial "head/stylesheets.html" . -}}
{{- partial "head/feeds.html" . -}}
{{- partial "head/me.html" . -}}
{{- partial "head/micro.blog.html" . -}}
{{- partial "head/plugins.html" . -}}
{{- partial "head/cards.html" . -}}
<meta name="theme-color" content="#da532c" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#da532c" media="(prefers-color-scheme: dark)">
</head>