<!-- Include TypeKit Fonts -->
<link rel="stylesheet" href="https://use.typekit.net/nmn4mcn.css">

<!-- Fetch theme seconds, presumably to attach for cache busting -->
{{- $secs := printf "?%v" site.Params.theme_seconds -}}

<!-- Build and link the core stylesheet -->
{{- $base := resources.Get "sass/base.scss" | toCSS | fingerprint -}}
<link rel="stylesheet" href="{{ $base.Permalink }}{{ $secs }}">

<!-- Include plugin stylesheets -->
{{- partial "comment.html" "plugin stylesheets" . -}}
{{- range site.Params.plugins_css -}}
<link rel="stylesheet" href="{{ . }}" />
{{- end -}}

<!-- Include the custom stylesheet last -->
<link rel="stylesheet" href="{{ "custom.css" | relURL }}{{ $secs }}">
