{{/* Include TypeKit Fonts */}}
<link rel="stylesheet" href="https://use.typekit.net/nmn4mcn.css">

{{/* Build and link the core stylesheet */}}
{{- $options := site.Params.Theme.Sass -}}
{{- $TargetDirectory := $options.TargetDirectory -}}
{{- $TargetPath := path.Join $TargetDirectory "base.css" -}}
{{- $OutputStyle := $options.OutputStyle -}}
{{- $EnableSourceMap := $options.EnableSourceMap -}}
{{- $Fingerprint := $options.Fingerprint -}}

{{- $options = dict "targetPath" $TargetPath  "outputStyle" $OutputStyle "enableSourceMap" $EnableSourceMap -}}
{{- $base := resources.Get "sass/base.scss" | toCSS $options -}}
{{- if $Fingerprint }}{{ $base = $base | fingerprint }}{{ end -}}
<link rel="stylesheet" href="{{ $base.Permalink }}?{{ site.Params.theme_seconds }}">

{{/* Include plugin stylesheets */}}
{{- partial "plugins/css-injection.html" . -}}

{{/* Include the custom stylesheet last */}}
<link rel="stylesheet" href="{{ "custom.css" | relURL }}?{{ site.Params.theme_seconds }}">