{{- $viewport := site.Params.Theme.Viewport -}}
{{- $content := printf "width=%s" $viewport.Width -}}
{{- $content = printf "%s, intial-scale=%s" $content $viewport.InitialScale -}}
{{- with $viewport.MinimumScale -}}
{{- $content = printf "%s, minimum-scale=%s" $content . -}}
{{- end -}}
{{- with $viewport.MaximumScale -}}
{{- $content = printf "%s, maximum-scale=%s" $content . -}}
{{- end -}}
{{- with $viewport.ViewportFit -}}
{{- $content = printf "%s, viewport-fit=%s" $content . -}}
{{- end -}}
<meta name="viewport" content="{{ $content }}">