{{ $viewport := site.Params.Theme.Viewport | default dict }}
{{ $width := printf "width=%s" $viewport.Width }}
{{ $initial_scale := printf "intial-scale=%s" $viewport.InitialScale }}
{{ $content := slice $width $initial_scale }}
{{ with $viewport.MinimumScale }}
{{ $content = $content | append (printf "minimum-scale=%s" .) }}
{{ end }}
{{ with $viewport.MaximumScale }}
{{ $content = $content | append (printf "maximum-scale=%s" .) }}
{{ end }}
{{ with $viewport.ViewportFit }}
{{ $content = $content | append (printf "viewport-fit=%s" .) }}
{{ end }}
{{ $content = $content } delimit ", " }}
<meta name="viewport" content="{{ $content }}">