@import "fonts.scss";
@import "variables.scss";

// partials/profile.html
section#author-profile {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
    margin: 0 auto;
    
    img#avatar { margin: 0.25rem auto; }

    h1 { margin: 0.25rem auto; }

    div#social-media-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: stretch;
      gap: 0.25rem;
      
      div#sml-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: baseline;
        gap: 1rem;
      }
      
    }

    p#brief-bio { margin: 0.25rem auto; }

} // section#author-profile
  