body {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 600px auto;
  grid-template-areas:
    "header header header"
    "......  main  ......"
    "footer footer footer";
      
  // Use what we've got for main content on small screens
  @include media((orientation: portrait, max-width: 900px)) { 
      grid-template-columns: 25px 1fr 25px;      
  }
      
}