body {
  // Make sure body fills the viewport
  min-height: 100vh;
  max-width: 100vw;
  
  ///Page Grid
  display: grid;
  
  // Three rows pushing header up and footer down
  grid-template-rows: auto 1fr auto;
  
  // Size columns for smallest screen
  grid-template-columns: auto 325px auto;
  
  // Add a gap between sections
  gap: 1rem;
  
  // Allow the header and the footer to go all the way across
  grid-template-areas:
      "header header header"
      "......  main  ......"
      "footer footer footer";
      
  // Scale columns for landscape phones
  @include media-breakpoint-up(sm) {
    grid-template-columns: auto 600px auto;
  }
  
  /// Page Header
  > header {
    grid-area: header;
    background: var(--md-header-bg);
    
    // Debugging overlay
    mark#theme-version-overlay { 
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      padding: 0 1em;
      background: $black;
      color: $white;
      font-size: $small-font-size * 0.9;
      opacity: 0.25;
      @extend %eaves-book;
    }
    
  }

  /* Page Main */
  > main { 
    grid-area: main;
    background: var(--md-main-bg);
  }
  
  /* Page Footer */
  > footer { 
    grid-area: footer;
    background: var(--md-footer-bg);
    color: var(--md-footer-col);
    
    // Create a vertical stack for footer components
    @include vstack($gap: 1rem);
    
    // RSS/JSON Feeds and Email links
    > ul#feeds-email {
      @include list-unstyled;
      @include hstack($align: baseline, $gap: 20px);      
      a { 
        font-size: $small-font-size;
        color: var(--md-footer-link-col);
        &:hover { color: var(--md-footer-link-hov-col); }
      }  
    }
    
    #copyright { color: var(--md-copyright-col); margin: 0 auto 1rem auto; }
    
  }  
  
}