body > div {
  @extend .container-md;
  background-color: $container-bg;
  
  /* Page Grid */
  // Setup a three row grid for the three page sections
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 600px auto;
  grid-template-areas:
    "header header header"
    " main   main   main "
    "footer footer footer";
      
  // Use what we've got for main content on small screens
  @include media((orientation: portrait, max-width: 900px)) { 
      grid-template-columns: 25px 1fr 25px;      
  }

  /* Page Header */
  > header {
    grid-area: header;
    background: var(--md-header-bg);
    
    // Debugging overlay
    mark#theme-version-overlay { 
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 1em;
      background: $black;
      color: $white;
      font-size: $small-font-size;
      opacity: 0.5;
      @extend %eaves-book;
    }
    
  }

  /* Page Main */
  > main { 
    grid-area: main; 
    @include flush-pad;
    background: var(--md-main-bg);
    
    > #content-column {
      // Use 100% of width until we hit medium breakpoint
      @extend .container-md;
    }
  }
  
  /* Page Footer */
  > footer { 
    grid-area: footer;
    @include flush-pad;
    background: var(--md-footer-bg);
    color: var(--md-footer-color);
    
    // Create a vertical stack for footer components
    @include vstack($gap: 1rem);
    
    // RSS/JSON Feeds and Email links
    > ul#feeds-email {
      @include list-unstyled;
      @include hstack($align: baseline, $gap: 20px);      
      a { 
        font-size: $small-font-size;
        color: var(--md-footer-link-color);
        &:hover { color: var(--md-footer-link-hover-color); }
      }  
    }
    
    #copyright { color: var(--md-copyright-color); margin: 0 auto; }
    
    // nav#webring {
      
    // }
  
  }  
  
}