@import "fonts.scss";
@import "variables.scss";

// Basic element styles

%reset { margin: 0; padding: 0; }

// Primary containers

html { 
  @extend %reset; 
  font-size: $html-size; 
  background-color: white;
}

body { 
  @extend %reset;
  @extend %eaves-book; 
  font-size: 1rem; 
  line-height: $body-height;
  text-rendering: optimizeLegibility;
  color: $body-text-color; 
  
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape) {
    -webkit-text-size-adjust: none;
  }
}

/* Headers */

%header { color: $header-color; }

h1 { 
  @extend %header;
  @extend %eaves-heavy; 
  font-size: $h1-size; 
}

h2 { 
  @extend %header;
  @extend %eaves-bold; 
  font-size: $h2-size; 
    
  &.headline {
    @extend %eaves-light-normal;
    font-size: $h3-size;
    padding: 0;
    margin { top: 0; bottom: 50px; }
  }
  
}

h3 { @extend %header; @extend %eaves-regular; font-size: $h3-size; }
h4 { @extend %header; @extend %eaves-light; font-size: $h4-size; }
h5 { @extend %header; @extend %eaves-thin; font-size: $h5-size; }

/* Font styles */

b { 
  @extend %eaves-heavy; 
  color: $bold-text-color; 
  > i { @extend %eaves-heavy-italic; }
}

i { 
  @extend %eaves-book-italic; 
  > b { @extend %eaves-heavy-italic; }
}

strong { 
  @extend %eaves-bold; 
  color: $bold-text-color; 
  > em { @extend %eaves-bold-italic; }
}

em { 
  @extend %eaves-regular-italic; 
  > strong { @extend %eaves-bold-italic; }
}

sup { vertical-align: super; font-size: smaller; }

small { font-size: $small-size; }

blockquote {
  padding-left: 15px;
  @extend %eaves-light-italic;
  border-left: 2px solid $blockquote-border-color;
}

/* Lists */

%list { list-style-position: inside; }

ul { @extend %list; list-style-type: circle; }

ol { @extend %list; list-style-type: decimal; }

dl {
  
  dt { @extend %eaves-regular; }
  
  dd {
    margin: 0px 0px 1em 0px;
    padding: 0px 0px 0px 1em;
    
    p {
      > dl, dt, dd { margin: 0px 0px 2em 0px; }
    }
    
  } // dd
  
} // dl

/* Media */

%media-asset { width: 100%; max-width: 100%; height: auto; }

video { @extend %media-asset; }

img { @extend %media-asset; }

/* Links */

a {
  text-decoration: none;
  color: $link-text-color;
  
  &:hover { color: $link-hover-color; }
}

/* Code */

%code {
  background-color: $code-bg-color;
  color: $code-text-color;
  border-radius: 5px;
  font-size: $code-size;
  line-height: $code-line-height;
  @extend %input-regular;
}

pre { white-space: pre-wrap; overflow: auto; @extend %code; }

code { display: inline-block; padding: 5px 8px; @extend %code; }

/* Dividers */

hr {
  border: none;
  height: 2px;
  margin: 34px 0 40px 0;
  background: $divider-color;
  width: 30%;
}
