%eaves { font-family: mr-eaves-sans, sans-serif; }
%eaves-thin { @extend %eaves; font-weight: 100; }
%eaves-light { @extend %eaves; font-weight: 200; }
%eaves-book { @extend %eaves; font-weight: 300; }
%eaves-regular { @extend %eaves; font-weight: 400; }
%eaves-bold { @extend %eaves; font-weight: 700; }
%eaves-heavy { @extend %eaves; font-weight: 800; }

%eaves-thin-normal { @extend %eaves-thin; font-style: normal; }
%eaves-light-normal { @extend %eaves-light; font-style: normal; }
%eaves-book-normal { @extend %eaves-book; font-style: normal; }
%eaves-regular-normal { @extend %eaves-regular; font-style: normal; }
%eaves-bold-normal { @extend %eaves-bold; font-style: normal; }
%eaves-heavy { @extend %eaves-heavy; font-style: normal; }

%eaves-thin-italic { @extend %eaves-thin; font-style: italic; }
%eaves-light-italic { @extend %eaves-light; font-style: italic; }
%eaves-book-italic { @extend %eaves-book; font-style: italic; }
%eaves-regular-italic { @extend %eaves-regular; font-style: italic; }
%eaves-bold-italic { @extend %eaves-bold; font-style: italic; }
%eaves-heavy-italic { @extend %eaves-heavy; font-style: italic; }

%input { font-family: input-mono-compressed, monospace; }
%input-thin { @extend %input; font-weight: 100; }
%input-extra-light { @extend %input; font-weight: 200; }
%input-light { @extend %input; font-weight: 300; }
%input-regular { @extend %input; font-weight: 400; }
%input-medium { @extend %input; font-weight: 500; }
%input-bold { @extend %input; font-weight: 700; }
%input-black { @extend %input; font-weight: 800; }

%input-thin-normal { @extend %input-thin; font-style: normal; }
%input-extra-light-normal { @extend %input-extra-light; font-style: normal; }
%input-light-normal { @extend %input-light; font-style: normal; }
%input-regular-normal { @extend %input-regular; font-style: normal; }
%input-medium-normal { @extend %input-medium; font-style: normal; }
%input-bold-normal { @extend %input-bold; font-style: normal; }
%input-black-normal { @extend %input-black; font-style: normal; }

%input-thin-italic { @extend %input-thin; font-style: italic; }
%input-extra-light-italic { @extend %input-extra-light; font-style: italic; }
%input-light-italic { @extend %input-light; font-style: italic; }
%input-regular-italic { @extend %input-regular; font-style: italic; }
%input-medium-italic { @extend %input-medium; font-style: italic; }
%input-bold-italic { @extend %input-bold; font-style: italic; }
%input-black-italic { @extend %input-black; font-style: italic; }
