@import "fonts.scss";
@import "variables.scss";

footer {
  
  ul#feeds-email {    
    display: flex;
    justify-content: center;
    align-content: baseline;
    gap: 20px;
    list-style-type: none;
    
    a { font-size: $small-size; }
    
  }
  
  small#copyright {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
  }
  
} // footer
