// Pagination 
nav.pagination {
  @include hstack($justify: space-between);
  margin: 1rem auto 1rem auto;
  color: $pagination-color;  
}

// Next/Prev
nav#next-prev {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(auto, 1fr) minmax(max-content, 2fr) minmax(auto, 1fr);
  grid-template-areas: "next categories prev";
  margin: 2em 0;
  gap: $spacer;
  
  span {
    align-self: center;
    
    &#next { 
      grid-area: next; 
      justify-self: start;
    }
    
    &#prev { 
      grid-area: prev; 
      justify-self: end;
    }
    
    a {
      font-weight: $next-prev-link-weight;
      color: $next-prev-link-color;
      &:hover { color: $next-prev-link-hover-color; }
    }
    
  } // span
  
  nav#category-list {
    grid-area: categories;
    justify-self: center;
    
    @include hstack($justify: center, $align: baseline, $gap: 0.5rem);
    text-align: center;
    
    .category-link {
      //background-color: rgba(0,255,0,0.5);
    }
    .bullet-divider { 
      //background-color: rgba(0,0,255,0.5);
    }    
  } // nav#category-list
  
} // nav#next-prev

// Main nav
nav#main-nav {
  padding: 1rem 1rem 0.25rem 1rem;
  @include hstack($wrap: wrap, $justify: flex-end, $gap: 0 20px);
  
  a {
    padding: $nav-link-padding-y $nav-link-padding-x;
    font-size: $nav-link-font-size;
    font-weight: $nav-link-font-weight;
    transition: $nav-link-transition;    
    color: var(--md-nav-link-color);
    
    &:hover { 
      color: var(--md-nav-link-hover-color);
      box-shadow: var(--md-nav-link-hover-shadow); 
    }
    
    &.selected { box-shadow: var(--md-nav-link-selected-shadow); }
    
  } // a
  
} // nav
