/// Navigation for next/prev page/post
nav.next-prev {
  
    display: grid;
    grid-template-columns: minmax(100px, max-content) auto minmax(100px, max-content);
    grid-template-areas: "newer inner older";
    margin: 1rem;
    
    a {
      align-self: center;
      @include eaves-font($np-link-weight, $np-link-style);
      color: $np-link-col;
      
      &:hover { color: $np-link-hov-col; }
      
      &.newer { 
        grid-area: newer; 
        justify-self: start;
        
        &::before { content: "← "; }
      }
      
      &.older { 
        grid-area: older; 
        justify-self: end;
        
        &::after { content: " →"; }
      }
      
    }
    
    // Inner area for post pages
    nav#category-list {
      grid-area: inner;
      max-width: 100%;
      @include flex-row(center, baseline, 0.25rem, wrap);
      place-self: center;
      line-height: $line-height-sm;
        
      .category-link {
        text-align: center;
        @include eaves-font($np-cat-link-weight, $np-cat-link-style);
        color: $np-cat-link-col;
        
        &:hover { color: $np-cat-link-hov-col; }
              
        &:not(:last-child)::after { content: " •"; }
        
        @include media-breakpoint-down(sm) {
          &:first-child:nth-last-child(n + 3),
          &:first-child:nth-last-child(n + 3) ~ * {
            width: 100%;
            &::after { content: ""; }
          }
          
        }
      
        @include media-breakpoint-up(sm) {
          width: auto;
          &:not(:last-child)::after { content: " •"; }
        }
        
      }
  
    } // nav#category-list
    
    // Inner area for list pagination
    span#page-number {
      grid-area: inner;
      place-self: center;
      color: $pagination-color;

      span#total::before { content: " / "; }
      
      @include media-breakpoint-up(sm) {
        
        span#page::before {
          content: "Page "
        }
        
        span#total::before {
          content: " of "
        }
        
      }

    }
}

// Main nav
nav#main-nav {
  padding: 1rem;
  @include flex-row(flex-end, baseline, 0.25em 0.5em, wrap);
  font-size: $mnl-font-size;

  a.main-nav-link {
    padding: $mnl-pad-y $mnl-pad-x;
    font-size: $mnl-font-size;
    font-weight: $mnl-font-weight;
    transition: $mnl-transition;    
    color: var(--md-mnl-col);
    
    &:hover { 
      color: var(--md-mnl-hov-col);
      box-shadow: var(--md-mnl-hov-shad); 
    }
    
    &.selected { box-shadow: var(--md-mnl-sel-shad); }
    
  } // a
  
} // nav
