// Pagination 
nav.pagination {
  @include hstack($justify: space-between);
  margin: 1rem auto 1rem auto;
  color: $pagination-color;  
}

// Next/Prev
nav#next-prev {
  @include hstack($justify: space-between, $align: baseline);
  margin: 2em auto;

  span#empty-space { flex-grow: 2; }

  nav#category-list {
    @include hstack($justify: center, $align: baseline, $gap: 2rem);    
    flex-grow: 2;
    span.bullet-divider { display: inline-block; margin: 0 1rem; }    
  }
  
} // nav#next-prev

// Main nav
nav#main-nav {
  padding: 1rem 1rem 0.25rem 1rem;
  @include hstack($wrap: wrap, $justify: flex-end, $gap: 0 20px);
  
  a {
    padding: $nav-link-padding-y $nav-link-padding-x;
    font-size: $nav-link-font-size;
    font-weight: $nav-link-font-weight;
    transition: $nav-link-transition;    
    color: var(--md-nav-link-color);
    
    &:hover { 
      color: var(--md-nav-link-hover-color);
      box-shadow: var(--md-nav-link-hover-shadow); 
    }
    
    &.selected { box-shadow: var(--md-nav-link-selected-shadow); }
    
  } // a
  
} // nav
