footer#post-meta {
  @include hstack($gap: 0 20px);
  @include border(top bottom, 1px, 15px);
  margin: 1rem 0;
        
  div {
    @include vstack;
    a.u-url { 
      font-size: $pm-name-font-size;
      color: $pm-name-col;
      &:hover { color: $pm-name-hov-col; }
    }
    a[rel="me"] { 
      font-size: $pm-username-font-size;
      color: $pm-username-col;
      &:hover { color: $pm-username-hov-col; }
    }
  }
  
  img#avatar { 
    @include circle($pm-avatar-size); 
    box-shadow: $pm-avatar-shad; 
  }
  
} // footer#post-meta
