// Post Lists 
ul#post-list { 
  @include list-unstyled;
      
  > li {
    @include border(bottom, 1px, 1rem);
    padding-top: 1rem;
    
    &:first-child { padding-top: 0; }
    &:last-child { border-bottom: none; }
    
    article {
      @include vstack($gap: 0.5rem);
      
      header > h2 > a {                
        color: $headings-color;
        &:hover { text-decoration: underline; }
      }
          
      section {
        @include vstack($gap: 0.5rem);        
        > a.read-more { text-decoration: underline; }
      }
      
      footer > a {            
        text-transform: uppercase;
        @extend %eaves-light;        
        &:hover { text-decoration: none; }
      }
      
    } // article
  
  } // li
  
} // ul#post-list