// Post Lists 
ul#post-list { 
  @include list-unstyled;
      
  > li {
    &:not(:first-child) { padding-top: 1rem; }
    &:not(:last-child) { @include border(bottom, 1px, 1rem); }
    
    article {
      @include flex-column(flex-start, stretch, 0.5rem);
      
      header > h2 > a {                
        color: $headings-color;
        &:hover { text-decoration: underline; }
      }
          
      section {
        @include flex-column(flex-start, stretch, 0.5rem);        
        > a.read-more { text-decoration: underline; }
      }
      
      footer > a {            
        text-transform: uppercase;
        @include eaves-font(light);        
        &:hover { text-decoration: none; }
      }
      
    } // article
  
  } // li
  
} // ul#post-list