section#author-profile {

  @include vstack;
  
  max-width: 500px;
  margin: auto;
        
  h1 { margin: 0 auto; }
  
  div#social-media-links {
    @include vstack;    
    
    > div.sml-container {    
      display: grid;
      column-gap: 1rem;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "link name";
            
      a { 
        grid-area: link;
      }
      
      span { 
        grid-area: name;
        align-self: end;
      }
    
    } // > div.sml-container

   } // div#social-media-links
  
  p#brief-bio { padding: 1rem 0; }

}