#author-profile {
  @include flex-column(stretch, stretch, 0.75rem);
  margin: auto;
  width: 300px;

  @include media-breakpoint-up(sm) {
    width: auto;
    max-width: 500px;
  }
  
  h1 { 
    text-align: center;
  }
      
  #brief-bio { 
    text-align: justify;
    color: $black;
    @include eaves-font(book, italic);
  }

}