:root {
  /// Page header background color
  --md-header-bg: #{$header-bg};
  --md-header-bg-l: #{$header-bg-l};
  --md-header-bg-d: #{$header-bg-d};
  /// Main navigation link color
  --md-mnl-col: #{$mnl-col};
  --md-mnl-col-l: #{$mnl-col-l};
  --md-mnl-col-d: #{$mnl-col-d};
  /// Main navigation link hover color
  --md-mnl-hov-col: #{$mnl-hov-col};
  --md-mnl-hov-col-l: #{$mnl-hov-col-l};
  --md-mnl-hov-col-d: #{$mnl-hov-col-d};
  /// Main navigation link selected color
  --md-mnl-sel-shad: #{$mnl-sel-shad};
  --md-mnl-sel-shad-l: #{$mnl-sel-shad-l};
  --md-mnl-sel-shad-d: #{$mnl-sel-shad-d};
  /// Main navigation link shadow
  --md-mnl-hov-shad: #{$mnl-hov-shad};
  --md-mnl-hov-shad-l: #{$mnl-hov-shad-l};
  --md-mnl-hov-shad-d: #{$mnl-hov-shad-d};
}