:root {
  --md-main-bg: #{$main-bg};

  --md-header-bg: #{$header-bg};
  --md-header-bg-light: #{$header-bg-light};
  --md-header-bg-dark: #{$header-bg-dark};

  --md-footer-color: #{$footer-color};
  --md-footer-color-light: #{$footer-color-light};
  --md-footer-color-dark: #{$footer-color-dark};

  --md-footer-bg: #{$footer-bg};
  --md-footer-bg-light: #{$footer-bg-light};
  --md-footer-bg-dark: #{$footer-bg-dark};

  --md-footer-link-color: #{$footer-link-color};
  --md-footer-link-color-light: #{$footer-link-color-light};
  --md-footer-link-color-dark: #{$footer-link-color-dark};

  --md-footer-link-hover-color: #{$footer-link-hover-color};
  --md-footer-link-hover-color-light: #{$footer-link-hover-color-light};
  --md-footer-link-hover-color-dark: #{$footer-link-hover-color-dark};

  --md-nav-link-color: #{$nav-link-color};
  --md-nav-link-color-light: #{$nav-link-color-light};
  --md-nav-link-color-dark: #{$nav-link-color-dark};

  --md-nav-link-hover-color: #{$nav-link-hover-color};
  --md-nav-link-hover-color-light: #{$nav-link-hover-color-light};
  --md-nav-link-hover-color-dark: #{$nav-link-hover-color-dark};

  --md-nav-link-hover-shadow: #{$nav-link-hover-shadow};
  --md-nav-link-hover-shadow-light: #{$nav-link-hover-shadow-light};
  --md-nav-link-hover-shadow-dark: #{$nav-link-hover-shadow-dark};

  --md-nav-link-selected-shadow: #{$nav-link-selected-shadow};
  --md-nav-link-selected-shadow-light: #{$nav-link-selected-shadow-light};
  --md-nav-link-selected-shadow-dark: #{$nav-link-selected-shadow-dark};

  --md-copyright-color: #{$copyright-color};
  --md-copyright-color-light: #{$copyright-color-light};
  --md-copyright-color-dark: #{$copyright-color-dark};  

}