:root {
  --md-main-bg: 				#{$main-bg};

  --md-header-bg:				#{$header-bg};
  --md-header-bg-l:				#{$header-bg-l};
  --md-header-bg-d:				#{$header-bg-d};

  --md-footer-col:				#{$footer-col};
  --md-footer-col-l:			#{$footer-col-l};
  --md-footer-col-d:			#{$footer-col-d};

  --md-footer-bg:				#{$footer-bg};
  --md-footer-bg-l:				#{$footer-bg-l};
  --md-footer-bg-d:				#{$footer-bg-d};

  --md-footer-link-col:			#{$footer-link-col};
  --md-footer-link-col-l:		#{$footer-link-col-l};
  --md-footer-link-col-d:		#{$footer-link-col-d};

  --md-footer-link-hov-col:		#{$footer-link-hov-col};
  --md-footer-link-hov-col-l:	#{$footer-link-hov-col-l};
  --md-footer-link-hov-col-d:	#{$footer-link-hov-col-d};

  --md-mnl-col:					#{$mnl-col};
  --md-mnl-col-l:				#{$mnl-col-l};
  --md-mnl-col-d:				#{$mnl-col-d};

  --md-mnl-hov-col:				#{$mnl-hov-col};
  --md-mnl-hov-col-l:			#{$mnl-hov-col-l};
  --md-mnl-hov-col-d:			#{$mnl-hov-col-d};

  --md-mnl-hov-shad:			#{$mnl-hov-shad};
  --md-mnl-hov-shad-l:			#{$mnl-hov-shad-l};
  --md-mnl-hov-shad-d:			#{$mnl-hov-shad-d};

  --md-mnl-sel-shad:			#{$mnl-sel-shad};
  --md-mnl-sel-shad-l:			#{$mnl-sel-shad-l};
  --md-mnl-sel-shad-d:			#{$mnl-sel-shad-d};

  --md-copyright-col:			#{$copyright-col};
  --md-copyright-col-l:			#{$copyright-col-l};
  --md-copyright-col-d:			#{$copyright-col-d};  

}