// Headers 
h1 { @include eaves-font(heavy);   }
h2 { @include eaves-font(bold);    }
h3 { @include eaves-font(regular); }
h4 { @include eaves-font(book);    }
h5 { @include eaves-font(light);   }
h6 { @include eaves-font(thin);    }

// Font styles 
b           { @include eaves-font(heavy);           }
b > i       { @include eaves-font(heavy, italic);   }
i           { @include eaves-font(book, italic);    }
i > b       { @include eaves-font(heavy, italic);   }
strong      { @include eaves-font(bold);            }
strong > em { @include eaves-font(bold, italic);    }
em          { @include eaves-font(regular, italic); }
em > strong { @include eaves-font(bold, italic);    }

blockquote {
  @include eaves-font(light, italic);
  @include border(left, $padding: 15px);
}

var { color: $code-color; }

video, img { @include fluid-media; }

mark, .yellow-highlighter {
	position: relative;
	background-color: transparent;
  
  &::before {
    content: "";
    background: transparent url("/assets/png/highlighter.png") repeat-x;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
  }
}