// Headers 
h1 { @extend %eaves-heavy;   }
h2 { @extend %eaves-bold;    }
h3 { @extend %eaves-regular; }
h4 { @extend %eaves-book;    }
h5 { @extend %eaves-light;   }
h6 { @extend %eaves-thin;    }

// Font styles 
b           { @extend %eaves-heavy;          }
b > i       { @extend %eaves-heavy-italic;   }
i           { @extend %eaves-book-italic;    }
i > b       { @extend %eaves-heavy-italic;   }
strong      { @extend %eaves-bold;           }
strong > em { @extend %eaves-bold-italic;    }
em          { @extend %eaves-regular-italic; }
em > strong { @extend %eaves-bold-italic;    }

blockquote {
  @extend %eaves-light-italic;
  @include border(left);
}

var { color: $code-color; }

video, img { @include fluid-media; }

// Page Details 

body {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 600px auto;
  grid-template-areas:
    "header header header"
    "......  main  ......"
    "footer footer footer";
      
  // Use what we've got for main content on small screens
  @include media((orientation: portrait, max-width: 900px)) { 
      grid-template-columns: 25px 1fr 25px;      
  }
      
} // body