$html-size: 24px;
$h1-size: 1.34rem;     // 32.16px
$h2-size: 1.25rem;     // 30px
$h3-size: 1.125rem;    // 27px
$h4-size: 1rem;        // 24px
$h5-size: 0.9167rem;   // 22.0008px
$body-size: 1rem;      // 24px
$small-size: 0.875rem; // 21px
$code-size: 0.5rem;    // 12px
$nav-link-size: 0.70834rem; // 17.00016px

$theme-color: #516189;
$body-text-color: #666;
$bold-text-color: #1E2025;
$aside-text-color: #BBB;
$link-text-color: #BBB;
$link-hover-color: #000;
$code-text-color: #7F7F7F;
$code-bg-color: #F5F5F5;
$header-color: #000;
$blockquote-border-color: #EEE;
$divider-color: #EEE;
$main-nav-dark-bg-color: $theme-color;
$main-nav-light-bg-color: rgba(255, 255, 255, 0.9);
$main-nav-dark-link-color: #FFF;
$main-nav-light-link-color: #000;
$pagination-color: #BBB;
$box-shadow-color: #9FADBF;
$post-meta-color: #444;
$post-meta-border-color: #EEE;
$post-meta-name-color: #AAA;
$post-meta-name-dark-color: #1E2025;
$post-title-color: #000;
$read-more-link-color: #000;
$dates-link-hover-color: #000;

$body-height: 1.1;
$post-meta-height: 1.5;
$spacious-height: 1.6;
$nav-link-height: 1.35;
$code-line-height: 1.35;
