// Font Sizes
$regular-size: 24px;
$large-size: 1.125rem;



$html-size: 24px;
$h1-size: 1.34rem;     // 32.16px
$h2-size: 1.25rem;     // 30px
$h3-size: 1.125rem;    // 27px
$h4-size: 1rem;        // 24px
$h5-size: 0.9167rem;   // 22.0008px
$body-size: 1rem;      // 24px
$small-size: 0.875rem; // 21px
$code-size: 0.5rem;    // 12px
$nav-link-size: 0.70834rem; // 17.00016px

// Color Definitions

$dove-gray: #666;
$kashmir-blue: #516189;
$shark: #1E2025;
$silver: #BBB;
$black: #000;
$gray: #7F7F7F;
$wild-sand: #F5F5F5;
$gallery: #EEE;
$white: #FFF;
$cadet-blue: #9FADBF;
$tundora: #444;
$silver-chalice: #AAA;


$theme-color: $kashmir-blue;

// Text Colors
$text-color: $dove-gray;
$bold-text-color: $shark;
$aside-text-color: $silver;
$code-text-color: $gray;
$pagination-color: $tundora;

// Link Colors
$link-color: $tundora;
$hover-color: $black;
$nav-color: $white;
$post-nav-color: $black;

// Accent Colors
$border-color: $gallery;
$shadow-color: $cadet-blue;


// Background Colors
$nav-bg-color: $theme-color;
$post-nav-bg-color: $white;
$code-bg-color: $wild-sand;

// Line Heights
$tight-height: 1.1;
$spacious-height: 1.6;
$moderate-height: 1.35;
