// Custom Named Colors
$kashmir-blue: #516189;
$manatee: #9091AB;
$sinbad: #A0D0D4;
$french-pass: #CDE8FD;
$petite-orchid: #D99D8E;
$dolphin: #646386;
$riptide: #82E1E4;
$gull-gray: #96A2BC;
$tonys-pink: #E58F91;
$celery: #9DC05F;
$salmon: #FF856D;
$ship-cove: #7D7ABF;
$green-mist: #C8D1A7;
$shark: #1E2025;

// Grayscale
$white:       #FFFFFF;
$white-smoke: #F5F5F5;
$gray-100:    #F2F2F2;
$gallery:     #EEEEEE;
$gray-200:    #E5E5E5;
$gray-300:    #D8D8D8;
$gray-400:    #CBCBCB;
$silver:      #BBBBBB;
$gray-500:    #A5A5A5;
$gray-600:    #7F7F7F;
$dove-gray:   #666666;
$gray-700:    #4C4C4C;
$tundora:     #444444;
$gray-800:    #3F3F3F;
$gray-900:    #262626;
$black:        $shark;

// Named Color Overrides
$blue:    $kashmir-blue;
$indigo:  $ship-cove;
$purple:  $dolphin;
$pink:    $petite-orchid;
$red:     $tonys-pink;
$orange:  $salmon;
$yellow:  $green-mist;
$green:   $celery;
$teal:    $riptide;
$cyan:    $sinbad;

$primary: $kashmir-blue;
$secondary: $gull-gray;

// Fonts
$font-family-sans-serif: mr-eaves-sans;
$font-family-monospace: input-mono-compressed;

// Font Weights
$font-weight-lighter: 100;
$font-weight-light: 200;
$font-weight-bolder: 800; 
$font-weight-base: 300;

// Line Heights
$line-height-base: 1.35;
$line-height-sm: 1.1;
$line-height-lg: 1.6;

// Font Sizes
$font-size-root: 24px;

// Background Colors
$body-bg:        $primary;
$container-bg:   $primary;
$header-bg:      $primary;
$main-bg:        $white;
$footer-bg:      $header-bg;
$post-header-bg: $white;
$post-footer-bg: $post-header-bg;

// Text Colors
$body-color: $dove-gray;
$text-muted: $manatee;
$pagination-color: $tundora;
$block-quote-footer-color: $manatee;
$headings-color: $black;
$copyright-color: $celery;
$post-copyright-color: $primary;

// Code
$code-color: darken($tonys-pink, 20%);
$pre-color: $code-color;

// Accent Colors
$border-color: $gallery;

// Links
$link-color:                   $silver;
$link-hover-color:             $black;
$link-decoration:              none;
$link-hover-decoration:        none;
$footer-link-color:            $white-smoke;
$footer-link-hover-color:      $orange;
$post-footer-link-color:       $tundora;
$post-footer-link-hover-color: $link-hover-color;

// Post meta
$post-meta-avatar-size:          96px;
$post-meta-avatar-shadow:        0 0 0 3px $white, 0 0 0 4px $gallery;
$post-meta-name-font-size:       inherit;
$post-meta-name-color:           currentcolor;
$post-meta-name-hover-color:     $link-hover-color;
$post-meta-username-font-size:   inherit;
$post-meta-username-color:       currentcolor;
$post-meta-username-hover-color: $link-hover-color;

$paragraph-margin-bottom: 0.5rem;

// Horizontal rule
$hr-color: $dolphin;
$hr-opacity: 0.9;
$hr-height: 2px;
$hr-bg-color: $border-color;

// Navs
$nav-link-shadow-color:                $petite-orchid;
$nav-link-selected-shadow-color:       change-color($nav-link-shadow-color, $alpha: 0.5);
$nav-link-post-shadow-color:           $blue;
$nav-link-post-selected-shadow-color:  change-color($nav-link-post-shadow-color, $alpha: 0.5);
$nav-link-padding-y:                    0;
$nav-link-padding-x:                    0;
$nav-link-font-size:                    0.85rem;
$nav-link-font-weight:                  400;
$nav-link-color:                        $white;
$nav-link-post-color:                   $black;
$nav-link-hover-color:                  $nav-link-color;
$nav-link-post-hover-color:             $nav-link-post-color;
$nav-link-hover-shadow:                 inset 0 -2px 0 $nav-link-shadow-color;
$nav-link-selected-shadow:              inset 0 -2px 0 $nav-link-selected-shadow-color;
$nav-link-post-hover-shadow:            inset 0 -2px 0 $nav-link-post-shadow-color;
$nav-link-post-selected-shadow:         inset 0 -2px 0 $nav-link-post-selected-shadow-color;
$nav-link-transition:                   all .35s cubic-bezier(0.7, 0, 0.3, 1);

// Variables used by bootstrap component variables below
$border-width:           1px;
$spacer:                 1rem;
$border-radius:          0.25rem;
$grid-gutter-width:      1.5rem;
$component-active-color: $white;
$component-active-bg:    $primary;

// Cards
$card-spacer-y:            $spacer;
$card-spacer-x:            $spacer;
$card-title-spacer-y:      $spacer * .5;
$card-border-width:        $border-width;
$card-border-color:        rgba($black, .125);
$card-border-radius:       $border-radius;
$card-box-shadow:          null;
$card-inner-border-radius: subtract($card-border-radius, $card-border-width);
$card-cap-padding-y:       $card-spacer-y * .5;
$card-cap-padding-x:       $card-spacer-x;
$card-cap-bg:              rgba($black, .03);
$card-cap-color:           null;
$card-height:              null;
$card-color:               null;
$card-bg:                  $white;
$card-img-overlay-padding: $spacer;
$card-group-margin:        $grid-gutter-width * .5;

// List group
$list-group-color:                  $gray-900;
$list-group-bg:                     $white;
$list-group-border-color:           rgba($black, .125);
$list-group-border-width:           $border-width;
$list-group-border-radius:          $border-radius;

$list-group-item-padding-y:         $spacer * .5;
$list-group-item-padding-x:         $spacer;
$list-group-item-bg-scale:          -80%;
$list-group-item-color-scale:       40%;

$list-group-hover-bg:               $gray-100;
$list-group-active-color:           $component-active-color;
$list-group-active-bg:              $component-active-bg;
$list-group-active-border-color:    $list-group-active-bg;

$list-group-disabled-color:         $gray-600;
$list-group-disabled-bg:            $list-group-bg;

$list-group-action-color:           $gray-700;
$list-group-action-hover-color:     $list-group-action-color;

$list-group-action-active-color:    $body-color;
$list-group-action-active-bg:       $gray-200;

// Bootstrap flags
$enable-shadows:true;
$enable-grid-classes: false;
$enable-cssgrid: true;

// Remove stuff from maps