@import "fonts.scss";
@import "variables.scss";
@import "elements.scss";
@import "theme-version-overlay.scss";
@import "author-profile.scss";

* { box-sizing: border-box; }

body {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  gap: 1rem;

  // Keep the main content at 600px or less
  @media only screen and (min-width: 700px) {
 
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 600px auto;
    grid-template-areas:
      "header header header"
      "......  main  ......"
      "footer footer footer";
      
  } 
  
  // Use what we've got for main content on small screens
  @media only screen 
    and (orientation: portrait)
    and (max-width: 900px) { 

      grid-template-rows: auto 1fr auto;
      grid-template-columns: 25px 1fr 25px;
      grid-template-areas:
        "header header header"
        "......  main  ......"
        "footer footer footer";
        
  }
  
  > header {
    grid-area: header;
    
    > nav {
      padding: 1rem 1rem 0.25rem 1rem;
      display: flex;
      gap: 0 20px;
      flex-wrap: wrap;
      justify-content: flex-end;
    
      > a {
        font-size: $nav-link-size;
        line-height: $nav-link-height;
        @extend %eaves-regular-normal;
        transition: all .35s;
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      
        &:hover { box-shadow: inset 0 -2px 0 change-color($box-shadow-color, $alpha: 0.5); }
        
        &.selected { box-shadow: inset 0 -2px 0 $box-shadow-color; }
        
      } // a
      
    } // nav
    
  } // > header
  
  > main {    
    grid-area: main;    
    > * { background-color: white; }        
  } // > main
  
  > footer {    
    grid-area: footer;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 1rem auto 2rem auto;
    gap: 1rem;
    
    > ul#feeds-email {
      
      display: flex;
      justify-content: center;
      align-content: baseline;
      gap: 20px;
      list-style-type: none;
      padding: 0;
      margin: 0;
      
      a { font-size: $small-size; }
    
    } // ul#feeds-email
      
  } // > footer

  /* Post pages */
  
  &.type-post {
    
    > header {
      background: $main-nav-light-bg-color;      
      > nav > a { color: $main-nav-light-link-color; }      
    } // > header
        
    
    article#post { 
      // margin: 120px 0 0 0;
      
      // @media screen and (max-width: 540px) {
      //   margin: 50px 0;
      // }
      
      header { 
        text-align: center; 
      
        h1.p-name {}
        
        h2.headline {
          @extend %eaves-light-normal;
          font-size: $h3-size;
          padding: 0;
          margin { top: 0; bottom: 50px; }
        }
      
      } // header
      
      section#post-body {
        
      }
      
      footer#post-meta {
        
        display: flex;
        gap: 0 20px;
        font-size: $small-size;
        @extend %eaves-light-normal;
        line-height: $post-meta-height;
        padding: 40px 0;
        margin-top: 60px;
        color: $post-meta-color;
        border {
          bottom: 1px solid $post-meta-border-color;
          top: 1px solid $post-meta-border-color;
        }
        
        @media screen and (max-width: 540px) {
          
          padding { top: 30px; bottom: 30px; }
          margin-top: 60px;
          
        }
        
        div {
          display: flex;
          flex-direction: column;
          
          span.p-name {
            color: $post-meta-name-color;
            @extend %eaves-thin-normal;
          } // span.p-name
          
        } // div
        
        img#avatar {
          
          height: 36px;
          width: 36px;
          box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
          border-radius: 50%;
          
        } // img#avatar
        
      } // section#post-meta
      
    } // article.post
    
    /* Next/Prev navigation */
    
    nav#next-prev {
      
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin: 2em auto;
    
      span#empty-space { flex-grow: 2; }
    
      nav#category-list {
        
        flex-grow: 2;
        display: flex;
        font-size: $nav-link-size;
        gap: 2rem;
        justify-content: center;
        align-items: baseline;
        
      } // nav#category-list
      
    } // nav#next-prev
      
  } // &.type-post
  
  /* All but Post Pages */
  
  &:not(.type-post) {
    
    // Darken the background color
    > header {
      background: $main-nav-dark-bg-color;
      > nav > a { color: $main-nav-dark-link-color; }
    } // > header

    /* Post Lists */
    
    > main > ul#post-list {
      list-style-type: none;
      padding: 0;
      
      > li {      
        padding: 1rem;
        border-bottom: 1px solid $divider-color;
        
        &:last-child { border-bottom: none; }
        
        article {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: stretch;
          gap: 1rem;
          
          header > h2 > a {                
            color: $post-title-color;                
            &:hover {                  
              text-decoration: underline;
              color: $theme-color;                  
            } //&:hover                
          } // header > h2 > a
              
          section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: stretch;
            gap: 1rem;
            
            > a.read-more {                     
              color: $read-more-link-color;
              text-decoration: underline;            
              &:hover { color: $theme-color; }                            
            } // a.read-more
          } // section
          
          footer > a {            
            text-transform: uppercase;
            color: $aside-text-color;
            @extend %eaves-light;                  
            &:hover { color: $dates-link-hover-color; }                  
          } // footer > a   
          
        } // article
        
      } // li
              
    } // ul#post-list
    
    /* Pagination */

    nav.pagination {
      
      display: flex;
      margin: 1rem auto 1rem auto;
      font-size: $nav-link-size;
      color: $pagination-color;
      justify-content: space-between;
            
    } // nav.pagination
    
  } // &:not(.type-post)
  
} // body