/* Core Styles */

// Fonts

%eaves { font-family: mr-eaves-sans, sans-serif; }
%eaves-thin { @extend %eaves; font-weight: 100; }
%eaves-light { @extend %eaves; font-weight: 200; }
%eaves-book { @extend %eaves; font-weight: 300; }
%eaves-regular { @extend %eaves; font-weight: 400; }
%eaves-bold { @extend %eaves; font-weight: 700; }
%eaves-heavy { @extend %eaves; font-weight: 800; }

%eaves-thin-normal { @extend %eaves-thin; font-style: normal; }
%eaves-light-normal { @extend %eaves-light; font-style: normal; }
%eaves-book-normal { @extend %eaves-book; font-style: normal; }
%eaves-regular-normal { @extend %eaves-regular; font-style: normal; }
%eaves-bold-normal { @extend %eaves-bold; font-style: normal; }
%eaves-heavy { @extend %eaves-heavy; font-style: normal; }

%eaves-thin-italic { @extend %eaves-thin; font-style: italic; }
%eaves-light-italic { @extend %eaves-light; font-style: italic; }
%eaves-book-italic { @extend %eaves-book; font-style: italic; }
%eaves-regular-italic { @extend %eaves-regular; font-style: italic; }
%eaves-bold-italic { @extend %eaves-bold; font-style: italic; }
%eaves-heavy-italic { @extend %eaves-heavy; font-style: italic; }

%input { font-family: input-mono-compressed, monospace; }
%input-thin { @extend %input; font-weight: 100; }
%input-extra-light { @extend %input; font-weight: 200; }
%input-light { @extend %input; font-weight: 300; }
%input-regular { @extend %input; font-weight: 400; }
%input-medium { @extend %input; font-weight: 500; }
%input-bold { @extend %input; font-weight: 700; }
%input-black { @extend %input; font-weight: 800; }

%input-thin-normal { @extend %input-thin; font-style: normal; }
%input-extra-light-normal { @extend %input-extra-light; font-style: normal; }
%input-light-normal { @extend %input-light; font-style: normal; }
%input-regular-normal { @extend %input-regular; font-style: normal; }
%input-medium-normal { @extend %input-medium; font-style: normal; }
%input-bold-normal { @extend %input-bold; font-style: normal; }
%input-black-normal { @extend %input-black; font-style: normal; }

%input-thin-italic { @extend %input-thin; font-style: italic; }
%input-extra-light-italic { @extend %input-extra-light; font-style: italic; }
%input-light-italic { @extend %input-light; font-style: italic; }
%input-regular-italic { @extend %input-regular; font-style: italic; }
%input-medium-italic { @extend %input-medium; font-style: italic; }
%input-bold-italic { @extend %input-bold; font-style: italic; }
%input-black-italic { @extend %input-black; font-style: italic; }

// Sizes

$html-size: 24px;
$h1-size: 1.34rem;
$h2-size: 1.25rem;
$h3-size: 1.125rem;
$h4-size: 1rem;
$h5-size: 0.9167rem;
$body-size: 1rem;
$small-size: 0.875rem;
$code-size: 0.5rem;

// Colors

$body-text-color: #666;
$bold-text-color: #1E2025;
$aside-text-color: #bbb;
$link-text-color: #516189;
$link-hover-color: #000;
$code-text-color: #7F7F7F;
$code-bg-color: #F5F5F5;
$header-color: #000;
$blockquote-border-color: #EEE;
$divider-color: #EEE;
$main-nav-dark-bg-color: #516189;
$main-nav-light-bg-color: rgba(255, 255, 255, 0.9);
$main-nav-dark-link-color: #FFF;
$main-nav-light-link-color: #000;
$pagination-color: #BBB;
$box-shadow-color: #9FADBF;
$post-meta-color: #444;
$post-meta-border-color: #EEE;

// Line Heights

$body-height: 1.1;
$post-meta-height: 1.5;

// Basic element styles

%reset { margin: 0; padding: 0; }

// Primary containers

html { 
  @extend %reset;
  font-size: $html-size; 
}

body { 
  @extend %reset;
  @extend %eaves-book; 
  font-size: 1rem; 
  line-height: $body-height;
  text-rendering: optimizeLegibility;
  color: $body-text-color; 
  
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape) {
    -webkit-text-size-adjust: none;
  }
}

// Headers

%header { color: $header-color; }

h1 { 
  @extend %header;
  @extend %eaves-heavy; 
  font-size: $h1-size; 
}

h2 { 
  @extend %header;
  @extend %eaves-bold; 
  font-size: $h2-size; 
  
  &.post-title {
    
  }
  
  &.headline {
    margin-top: 0;
    margin-bottom: 50px;
  }
  
}

h3 { 
  @extend %header;
  @extend %eaves-regular; 
  font-size: $h3-size; 
}

h4 { 
  @extend %header;
  @extend %eaves-light; 
  font-size: $h4-size; 
}

h5 { 
  @extend %header;
  @extend %eaves-thin; 
  font-size: $h5-size; 
}

// Font styles

b { 
  @extend %eaves-heavy; 
  color: $bold-text-color; 
  
  > i { @extend %eaves-heavy-italic; }
  
}

i { 
  @extend %eaves-book-italic; 
  
  > b { @extend %eaves-heavy-italic; }
  
}

strong { 
  @extend %eaves-bold; 
  color: $bold-text-color; 
  
  > em { @extend %eaves-bold-italic; }
  
}

em { 
  @extend %eaves-regular-italic; 
  
  > strong { @extend %eaves-bold-italic; }
  
}

sup { 
  vertical-align: super; 
  font-size: smaller; 
}

small { 
  font-size: $small-size;  
}

blockquote {
  // padding-left: 15px;
  // margin-top: 15px;
  @extend %eaves-light-italic;
  border-left: 2px solid $blockquote-border-color;
}

// Lists

%list { list-style-position: inside; }

ul {
  @extend %list;
  list-style-type: circle;
  
  &#post-list {
    li {
      list-style-type: none;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    h2 {
      margin-top: 0;
      line-height: 1.35;
    }
  
    img.post-pin {
      width: 2rem;
      height: auto;
    }
    
    > hr {
      height: 1px;
      background-color: $divider-color;
      margin: 42px 0 48px 0;
      width: 100%;
      border: none;
      
      &:last-child { display: none; }
    }
    
    aside {
      text-transform: uppercase;
      color: $aside-text-color;
      @extend %eaves-light;
    //   width: 100%;
    //   padding-top: 5px; 
    }
    
  }
  
}

ol {
  @extend %list;
  list-style-type: decimal;
}

dl {
  
  dt { @extend %eaves-regular; }
  
  dd {
    margin: 0px 0px 1em 0px;
    padding: 0px 0px 0px 1em;
    
    p {
      > dl, dt, dd { margin: 0px 0px 2em 0px; }
    }
    
  }
  
}

// Media

%media-asset { width: 100%; max-width: 100%; height: auto; }

video { 
  @extend %media-asset; 
}


img { 
  @extend %media-asset; 
}

// Links

a {
  text-decoration: none;
  color: $link-text-color;
  
  &:hover { color: $link-hover-color; }
}


// Code

// pre {
//   white-space: pre-wrap;
//   padding: 20px;
//   background-color: #fdfdfd;
//   overflow: auto;
//   border-radius: 5px;
//   background: #272b2d;
//   line-height: 1.5em;
//   color: #d0d4d7;
//   margin-top: 15px;
// }

code {
  border-radius: 5px;
  display: inline-block;
  padding: 5px 8px;
  line-height: 1.35;
  background-color: $code-bg-color;
  color: $code-text-color;
  font-size: $code-size;
  @extend %input-regular;
}

// Dividers

hr {
  border: none;
  height: 2px;
  margin: 34px 0 40px 0;
  background: $divider-color;
  width: 30%;
}

// Sections

section {

  &#wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 25px;
  }
    
  &#post-meta {
    font-size: $small-size;
    @extend %eaves-light-normal;
    line-height: $post-meta-height;
    padding: 40px 0;
    margin-top: 60px;
    color: $post-meta-color;
    border {
      bottom: 1px solid $post-meta-border-color;
      top: 1px solid $post-meta-border-color;
    }
  
    div {
      span.p-name {
        color: #aaa;
        font-weight: 100;
        display: block;
  
        &.dark {
          color: #1E2025;
        }
      }
  
      float: left;
    }
  
    img.avatar {
      height: 36px;
      width: 36px;
      float: left;
      margin-right: 15px;
      box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
      border-radius: 50%;
    }
}


}


// Footers

footer {
  
  &#feeds-email {
    
    ul {
      display: flex;
      justify-content: center;
      align-content: baseline;
      gap: 20px;
    }
    
    a {
      font-size: $small-size;
    }
    
    li { list-style-type: none; }
    
  }
  
  &#copyright {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  
}

div#webring { margin: 2em auto; padding: 0 0 50px 0; }

mark#theme-version-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1em;
  background-color: black;
  color: white;
  font-size: $h5-size;
  opacity: 0.5;
  @extend %eaves-book;
}

/* Navigation */

nav {

  &#main-nav {
    padding: 1rem 1rem 0.25rem 1rem;
    margin: 0 auto;
    text-align: right;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  
    &.dark {
      background: $main-nav-dark-bg-color;
      
      a { color: $main-nav-dark-link-color; }
    }
    
    &.light {
      background: $main-nav-light-bg-color;
  
      a { color: $main-nav-light-link-color; }
    }
    
    a {
      top: 8px;
      right: 6px;
      font-size: 17px;
      line-height: 1.35;
      margin-left: 12px;
      font-weight: 400;
      transition: all .35s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    
      &:hover { box-shadow: none; }
      
      &.selected { box-shadow: inset 0 -2px 0 $box-shadow-color; }
    }
  }
  
  &#next-prev {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 2em auto;
  
    span#empty-space { flex-grow: 2; }
  
    nav#category-list {
      flex-grow: 2;
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: baseline;
    }
  }

  // The main wrapper for pagination links
  &.pagination {
    display: flex;
    margin: 3rem auto 0 auto;
    font-size: $small-size;
    color: $pagination-color;
    justify-content: space-between;
  }
  
}

/* Banners */

div.banner-image {
  
}

/* List Pages */


.post-title > a {
  color: #000;
}

.post-body > p > a {
  color: #000;
  text-decoration: underline;
}

div.category-content {
  margin-bottom: 8vw;
  line-height: 26px;
  text-align: left;
}

// article.post {
//   margin-bottom: 50px;

//   header h1.p-name {
//     display: none;
//   }
// }

div#categories-stream-of-consciousness {
  background-position: 50% 5%;
}

@media screen and (max-width: 540px) {
  div {
    &#categories-artsy-fartsy, &#categories-critters {
      background-position: 35% 50%;
    }
  }
}

/* Post Pages */

.post-body {
  li:last-child {
    margin-bottom: 1.5em;
  }

  ol li {
    list-style-type: decimal !important;
  }

  ul li {
    list-style-type: disc !important;
  }
}

.post header {
  text-align: center;
}

#header {
  border-bottom: 1px solid #eee;
}

.post {
  margin: 120px 0 0 0;
}

#post-nav {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;

  span {
    position: relative;

    &.prev {
      float: left;
    }

    &.next {
      float: right;
    }

    .arrow {
      position: relative;
      padding: 1px;
    }
  }
}

.microblog_conversation {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 0.5px solid lightgray;
}

.microblog_post {
  padding-top: 20px;
  padding-bottom: 20px;
}

div {
  &.microblog_post + div.microblog_post {
    border-top: 0.5px solid lightgray;
  }

  &.microblog_text p a {
    text-decoration: none;
    box-shadow: none;
  }
}

.microblog_avatar {
  border-radius: 10px;
  vertical-align: middle;
}

.microblog_time {
  font-size: 13px;
  padding-top: 10px;
  color: gray;

  a {
    color: gray;
    text-decoration: none;
  }
}

@media screen and (max-width: 540px) {
  #post-meta {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 60px;
  }

  .post {
    margin: 50px 0;
  }
}

/* Profile */

.profile {
  #wrapper {
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
    width: 100%;
  }

  #avatar {
    display: inline-block;
    margin-bottom: 1em;
  }
}

header.h-card {
  h4.p-role {
    color: #aaa;
    font-size: 1rem;
    font-weight: 200;
    line-height: 26px;
    text-align: left;
    display: flex;
    justify-content: center;
  }

  p.p-note {
    line-height: 26px;
    text-align: left;
  }
}