/* Profile */

.profile {
  #wrapper {
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
    width: 100%;
  }

  #avatar {
    display: inline-block;
    margin-bottom: 1em;
  }
}

header.h-card {
  h4.p-role {
    color: #aaa;
    font-size: 1rem;
    font-weight: 200;
    line-height: 26px;
    text-align: left;
    display: flex;
    justify-content: center;
  }

  p.p-note {
    line-height: 26px;
    text-align: left;
  }
}