/* Typography */
/* Currently, these values require manually syncing convenience class values with HTML element style values */

/* Convenience Class styles */

.mr-eaves-modern-thin {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.mr-eaves-sans-thin {
  font-family: "mr-eaves-sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.mr-eaves-modern-thin-italic {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.mr-eaves-sans-thin-italic {
  font-family: "mr-eaves-sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.mr-eaves-modern-light {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.mr-eaves-sans-light {
  font-family: "mr-eaves-sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.mr-eaves-modern-light-italic {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.mr-eaves-sans-light-italic {
  font-family: "mr-eaves-sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.mr-eaves-modern-book {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mr-eaves-sans-book {
  font-family: "mr-eaves-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mr-eaves-modern-book-italic {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.mr-eaves-sans-book-italic {
  font-family: "mr-eaves-sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.mr-eaves-modern-regular {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mr-eaves-sans-regular {
  font-family: "mr-eaves-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mr-eaves-modern-regular-italic {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.mr-eaves-sans-regular-italic {
  font-family: "mr-eaves-sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.mr-eaves-modern-bold {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mr-eaves-sans-bold {
  font-family: "mr-eaves-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mr-eaves-modern-bold-italic {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.mr-eaves-sans-bold-italic {
  font-family: "mr-eaves-sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.mr-eaves-modern-heavy {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.mr-eaves-sans-heavy {
  font-family: "mr-eaves-sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.mr-eaves-modern-heavy-italic {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.mr-eaves-sans-heavy-italic {
  font-family: "mr-eaves-sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.thin {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.thin-italic {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 100;
  font-style: italic;
}

.light {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.light-italic {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 200;
  font-style: italic;
}

.book {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.book-italic {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 300;
  font-style: italic;
}

.regular {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.regular-italic {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.bold {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bold-italic {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 700;
  font-style: italic;
}

.heavy {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
}

.heavy-italic {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 800;
  font-style: italic;
}

.html-font-size {
  font-size: 24px;
}

.h1-font-size {
  font-size: 1.34rem;
}

.h2-font-size {
  font-size: 1.25rem;
}

.h3-font-size {
  font-size: 1.125rem;
}

.h4-font-size {
  font-size: 1rem;
}

.h5-font-size {
  font-size: 0.9167rem;
}

.body-font-size {
  font-size: 1rem;
}

.small-font-size {
  font-size: 0.875rem;
}

.h1-font-weight {
  font-weight: 800;
}

.h2-font-weight {
  font-weight: 700;
}

.h3-font-weight {
  font-weight: 400;
}

.h4-font-weight {
  font-weight: 200;
}

.h5-font-weight {
  font-weight: 100;
}

.body-font-weight {
  font-weight: 300;
}

.h1-font-family, .h2-font-family, .h3-font-family, .h4-font-family, .h5-font-family, .body-font-family {
  font-family: mr-eaves-sans, sans-serif;
}

/* HTML element styles */

html {
  font-size: 24px;
}

h1 {
  font-size: 1.34rem;
  font-weight: 800;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

h3 {
  font-size: 1.125rem;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 200;
}

h5 {
  font-size: 0.9167rem;
  font-weight: 100;
}

h1, h2, h3, h4, h5 {
  font-family: mr-eaves-sans, sans-serif;
}

body {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
}

b {
  font-weight: 800;
}

strong {
  font-weight: 400;
}

em {
  font-style: italic;
  font-weight: 400;
}

i {
  font-style: italic;
}

strong > em, em > strong {
  font-weight: 200;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

small {
  font-size: 0.875rem;
}

dt {
  font-weight: 400;
}