<!DOCTYPE html>
<html lang="en">
{{ partial "comment.html" "_default/baseof.html" -}}

{{/* Define the page head */}}
<head>
<meta charset="utf-8">
  
{{/* Include the theme version */}}
{{- partial "head/theme-version" }}

{{/* Support injection of plugin html up top */}}
{{- partial "plugins/html-injection.html" (slice "HEAD_TOP" .) }}

{{/* Define the viewport */}}
{{- partial "head/viewport.html" . }}

{{/* Define site author */}}
<meta name="author" content="{{ site.Author.name }}">

{{/* Include the page title */}}
{{- partial "head/page-title.html" . }}

{{/* Include the page description */}}
{{- partial "head/page-description.html" . }}

{{/* Include links for the feeds */}}
{{- partial "head/feeds.html" . }}

{{/* Include links for the micropub, microsub, webmention, etc. */}}
{{- partial "head/endpoints.html" . }}

{{/* Include core stylesheets */}}
{{- partial "head/stylesheets.html" . }}

{{/* Inject unprefixed plugin HTML includes */}}
{{- partial "plugins/html-injection.html" (slice .) }}

{{/* Create a block for including any additional head elements */}}
{{- block "head" . }}{{ end }}

{{/* Close the page head */}}
</head>

{{/* Add CSS hooks */}}
{{- $id := (urls.Parse .Permalink).Path | anchorize | default "home" -}}
{{- $class := printf "kind-%s type-%s" .Kind .Type -}}

{{/* Define the page body */}}
<body id="{{ $id }}" class="{{ $class }}" style="--md-header-bg: var(--md-header-bg-light); --md-footer-bg: var(--md-footer-bg-light); --md-footer-link-color: var(--md-footer-link-color-dark); --md-footer-link-hover-color: var(--md-footer-link-hover-color-dark); --md-nav-link-color: var(--md-nav-link-color-dark); --md-nav-link-hover-color: var(--md-nav-link-hover-color-dark); --md-nav-link-hover-shadow: var(--md-nav-link-hover-shadow-dark); --md-nav-link-selected-shadow: var(--md-nav-link-selected-shadow-dark); --md-copyright-color: var(--md-copyright-color-dark);">

{{/* Support injection of plugin html above the header  */}}
{{- partial "plugins/html-injection.html" (slice "ABOVE_HEADER" .) }}

{{/* Create the header */}}
<header>

{{/* Include the main nav */}}
{{- partial "navigation/main-nav.html" . }}

{{/* Include the banner */}}
{{- partial "plugins/banner.html" . -}}

{{/* Include theme version overlay */}}
{{- partial "theme-version.html" . }}

</header>

{{/* Support injection of plugin html below the header  */}}
{{- partial "plugins/html-injection.html" (slice "BELOW_HEADER" .) }}

{{/* Create the primary page content */}}
<main>
<div id="content-column">
{{- block "main" . }}

{{ end }}
</div>
</main>

{{/* Support injection of plugin html above the footer  */}}
{{- partial "plugins/html-injection.html" (slice "ABOVE_FOOTER" .) -}}

{{/* Create the footer */}}
<footer>
  
{{/* Include the row of feed and email links */}}
{{- partial "footer/feeds-email.html" . -}}

{{/* Include the user's custom footer */}}
{{- partial "custom_footer.html" . -}}

{{/* Include the webring nav */}}
{{- partial "plugins/webring.html" . -}}

{{/* Include the copyright */}}
{{- partial "footer/copyright.html" . -}}

</footer>

{{/* Support injection of plugin html below the footer  */}}
{{- partial "plugins/html-injection.html" (slice "BELOW_FOOTER" .) -}}

{{/* Insert plugin Javascript includes */}}
{{- partial "footer/scripts.html" . }}

{{/* Close the page body and html */}}
</body>
</html>