<li>
  <article>
    <section class="post-body">
    
    {{- if .Title -}}
    
    <header>
      <h2 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </h2>
    </header>
    
     {{- .Summary -}}
     
    {{- if .Truncated -}}
    
    <p><a href="{{ .RelPermalink }}">Read More</a></p>
    
    {{- end -}}
    
    {{- else -}}
    
    {{- .Content -}}
    
    {{- end -}}
    
    </section>
    
    {{- $datetime := .Date.Format site.Data.config.Date.DashDigits -}}
    {{- $time := .Date.Format site.Data.config.Date.TimeDay -}}
    
    <a href="{{ .Permalink }}" class="u-url">
      <aside class="dates">
        <time datetime="{{ $datetime }}" class="dt-published">
        → {{ $time }}
        </time>
      </aside>
    </a>
  </article>
</li>