{{/* Template for post pages */}}
{{ define "main" }}
{{ partial "comment.html" "post/single.html#main" }}
<article class="h-entry post">
  <header>
  
  {{ with .Title | markdownify }}
  
    <h1 class="p-name">{{ . }}</h1>
    
  {{ end }}
  
    {{ $datetime := .Date.Format site.Params.Theme.Date.DateTime }}
    {{ $date := .Date.Format site.Params.Theme.Date.Headline }}
    
    <h2 class="headline">
      <time class="dt-published" datetime="{{ $datetime }}">
        <a class="u-url dates" href="{{ .Permalink }}">{{ $date }}</a>
      </time>
    </h2>
  </header>
  <section class="e-content post-body">
      {{ .Content }}
  </section>
  
  {{ partial "post-meta.html" . }}
  
</article>

{{ $params := dict "next" .NextInSection "current" . "previous" .PrevInSection }}

{{- partial "navigation/next-prev.html" $params -}}

{{- partial "plugins/conversation.html" . -}}

{{- partial "plugins/disqus.html" -}}

{{ end }}