{{/* Template for post pages */}}
{{- define "aside" -}}
<div id="toc-toggle-container"></div>
{{- end -}}

<!-- 
<div class="h-entry">
 <h1 class="p-name">The Main Entry</h1>
 <p class="p-author h-card">John Smith</p>
 <p class="e-content">A few insights I've had:</p>
 
 <h2>Comments</h2>
 
 <div class="u-comment h-cite">
  <a class="u-author h-card" href="http://jane.example.com/">Jane Bloggs</a>
  <p class="p-content p-name">Ha ha ha great article John.</p>
  <a class="u-url" href="http://jane.example.com/c12">
    <time class="dt-published">2015-07-12 HH:MM</time>
  </a>
 </div>

 <div class="u-comment h-cite">
  <a class="u-author h-card" href="http://kim.example.net">Kim Codes</a>
  <p class="p-content p-name">What were the insights?</p>
  <a class="u-url" href="http://kim.example.net/k23">
    <time class="dt-published">2015-07-12 HH:MM</time>
  </a>
 </div>
 -->
{{- define "main" -}}
<article id="post" class="h-entry">
  <header>  
  {{- with .Title | markdownify -}}  
    <h1 class="p-name">{{ . }}</h1>    
  {{- end -}}
    {{ $datetime := .Date.Format site.Params.Theme.Date.DateTime }}
    {{ $date := .Date.Format site.Params.Theme.Date.Headline }}  
    <h2 class="headline">
      <time class="dt-published" datetime="{{ $datetime }}">
        <a class="u-url" href="{{ .Permalink }}">{{ $date }}</a>
      </time>
    </h2>
  </header>
  <section id="post-body" class="e-content">
      {{ .Content }}
  </section>
  
  {{- partial "post-meta.html" . -}}
  
  {{- partial "plugins/conversation.html" . -}}

  {{- partial "plugins/disqus.html" -}}

</article>

{{- $params := dict "next" .NextInSection "current" . "previous" .PrevInSection -}}

{{- partial "navigation/next-prev.html" $params -}}


{{- end -}}