.clearfix:after { content: ""; display: table; clear: both; }

.hidden { display: none; }

.highlight, 
.post h1,
h2, 
h3, 
p, 
.post-body ul, 
.dates,
.post-body li,
.bio li,
video {
  margin-top: 1em;
}

html, body { height: 100%; }

body { color: #666; }


p, li { line-height: 1.1; }

h1, h2, h3, h4 { color: #000; }

p.small p > small { display: block; }

ul { margin: 0;  padding: 0; }

li  { list-style-type: circle; list-style-position: inside; }

article ol li { list-style-type: decimal; padding-left: 20px; }

article ul li { list-style-type: disc; padding-left: 20px; }

b { color: #1E2025; }

strong { color: #1E2025; }

blockquote {
  padding-left: 15px;
  border-left: 2px solid #eee;
  opacity: 0.8;
  font-style: italic;
  margin-top: 15px;
}

hr {
  display: block;
  border: none;
  height: 2px;
  margin: 34px 0 40px 0;
  background: #eee;
  width: 30%;
  text-align: center;
}

span.separator { display: block; margin: 42px 0 48px 0; width: 100%; }

span.divider {
  display: block;
  width: 100%;
  background-color: #eee;
  height: 1px;
  margin: 0 auto;
}

span.separator:last-child { display: none; }

pre  {
  white-space:pre-wrap;
  padding:20px;
  background-color:#fdfdfd;
  overflow:auto;
  border-radius: 5px;
  background: #272b2d;
  line-height: 1.5em;
  color: #d0d4d7;
  margin-top: 15px;
}

code {
  background-color: #F5F5F5;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 8px;
  color: #7F7F7F;
  font-size: 0.5rem;
  line-height: 1.35;
  font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
}

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  font-size: 0.54167rem;
  line-height: 1.5em;
}

th,
td { text-align: left; padding-right: 20px; vertical-align: top; }

table td,
td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

tr > td {
  border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td { background: #fcfcfc; }

thead th,
th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 0.54167rem;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap;
}

img { width: 100%; max-width: 100%; height: auto; }

/* Others */

.dates {
  font-weight: 200;
  font-size: 20px; /*13px;*/
  color: #bbb;
  width: 100%;
  text-transform: uppercase;
  padding-top: 5px;
}

h2.headline { margin-top: 0; margin-bottom: 50px; }

#wrapper { max-width: 600px; margin: 0 auto; padding: 25px; }

a { text-decoration: none; color: #516189; }

/* Footer */

footer #wrapper {
  margin: 0 auto;
  text-align: center;
  padding: 35px 0 80px 0;
}

#footer { 
  text-align: center; 
  margin-bottom: 100px;
  padding-bottom: 100px;
}

#footer a {
  color: #000;
  font-size: 0.875rem; /*13px;*/
  line-height: 1.35;
  font-weight: 400;
}

#footer li {
  display: inline;
  padding: 0 10px;
}

#footer a, 
p a {
  font-weight: 400;
  transition: all .35s;
  transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}

div#webring {
  margin 2em auto;
  padding: 0 0 50px 0;
}

video { max-width: 100%; }

.emo { font-size: 75%; }

p > a, 
figure > a { box-shadow: none; }

p > a:hover, 
figure > a:hover { text-decoration: underline; }

dd > p { margin: 0px 0px 1em 0px; padding: 0px 0px 0px 1em; }

dd > p > dl,
dd > p  dt,
dd > p dd {
  margin: 0px 0px 2em 0px; 
}

figure { padding-top: 8vw; }

a.img-link {
  text-decoration:none;
  box-shadow: none;
  display: block;
  margin-top: 8vw;
}


/* Profile */

.profile #wrapper {
  margin: 0 auto;
  text-align: center;
  padding: 80px 0;
  width: 100%;
}

.profile #avatar { display: inline-block; margin-bottom: 1em; }

header.h-card h4.p-role {
  color: #aaa;
  font-size: 1rem;
  font-weight: 200;
  line-height: 26px;
  text-align: left;
  display: flex;
  justify-content: center;
}

header.h-card p.p-note { line-height: 26px; text-align: left; }

div#wrapper p { line-height: 26px; text-align: left; }

mark#theme-version-overlay {
  position: absolute;
  top: 2em;
  left: 2em;
  background-color: black;
  color: white;
}

/*.banner-image {
  background-color: #516189;
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}*/


/* Media Queries */
@media screen and (max-width: 540px) {

  footer #wrapper { padding: 35px 0 60px 0; }
  
}

@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape)
{
  body {-webkit-text-size-adjust: none;}
}
