/*=========================================
Post List
=========================================== */


#post-list li {
  list-style-type: none;
}

#post-list li:last-child {
  margin-bottom: 0;
}

#post-list h2 {
  margin-top: 0;
  line-height: 1.35;
}

/* The main wrapper for pagination links */
.pagination {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 0rem;
    margin-left: auto;
    margin-right: auto;
  font-size: 20px; /*13px;*/
  color: #bbb;
    text-align: center;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
    position: absolute;
    display: inline-block;
}

.older-posts {
    right: 0;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}

.newer-posts {
    left: 0;
}

.extra-pagination {
    display: none;
}

.extra-pagination .pagination {
    width: auto;
}

/* On page2+ show extra pagination controls at the top of post list */
.paged .extra-pagination {
    display: block;
}

.banner-image {
  background-color: #516189;
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#about.banner-image {
  background-position: center top;
}

.post-title > a {
  color: #000;
}

.post-body > p > a {
  color: #000;
  text-decoration: underline;
}

/* Nav */

nav.main-nav {
  background: #516189;
}

nav.main-nav a {
  color: #FFF;
}

div.category-content {
  margin-bottom: 8vw;
  line-height: 26px;
  text-align: left;
}

#category-cloud {
 margin-top: 1em;
}

#category-cloud a {
  color: #666;
}

#category-cloud a:hover {
  color: #000;
}

#post-meta img.avatar, #post-meta a img.avatar {
  height: 36px;
  width: 36px;
  float: left;
  margin-right: 15px;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
  border-radius: 50%;
}

article.post {
  margin-bottom: 50px;
}

article.post header h1.p-name {
  display: none;
}

/* Media Queries */
/*@media screen and (max-width: 540px) {
  
  .profile #wrapper {
    margin: 0 auto;
    text-align: center;
    padding: 70px 0 40px 0;
  } 
  
}*/

@media screen and (max-width: 540px) {
  div#categories-artsy-fartsy {
     background-position: 35% 50%;
  }
  div#categories-critters {
     background-position: 35% 50%;
  }
}

/*@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #1c1c1e;
  }

  nav.main-nav {
    background: #1c1c1e;
  }
  
  a, nav.main-nav a, #footer a, #post-nav a, p a, ul a, ol a, h1, h2, h3 {
    color: white;
  }
}*/