/*
 Aggregated reset.css, baseof.css, list.css, and post.css with liberal
 amounts of experimentation with the viewport width unit for adaptive sizing.
*/
/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,video {
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  margin:0;
  padding:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display:block
}
body {
  line-height:1.5;
}
blockquote,q {
  quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
  content:none
}
table {
  border-collapse:collapse;
  border-spacing:0
}
*, *:before, *:after {
  -moz-box-sizing:
  border-box;
  -webkit-box-sizing:
  border-box;
  box-sizing: border-box;
}
/* Clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hidden {
  display: none;
}

/* Spacing */
.highlight, .post h1, h2, h3, p,
.post-body ul, .dates, .post-body li,
.bio li, video, pre ::before {
  margin-top: 1em;
}

/* Base */
html, body {
  height: 100%;
}

body {
  font-family: mr-eaves-sans, "Avenir Next", Avenir,
               "-apple-system", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.5vw; /*18px;*/
  color: #666;
  text-rendering: optimizeLegibility;
}

/* Typography */

/*p, li {
  line-height: 1.5;
}
*/
h1, h2, h3, h4 {
  color: #000;
}

h1 {
  font-size: 4vw; /*32px;*/ /*30px;*/
  font-weight: 700; /*bold;*/
}

h2 {
  font-size: 4.5vw; /*30px;*/ /*25px;*/
  font-weight: 400;
}

h3 {
  font-size: 3vw; /*27px;*/ /*20px;*/
  font-weight: 400;
}

h4 {
  font-size: 2.5vw; /*24px;*/
  font-weight: 200;
  line-height: 26px;
}

p.small {
  font-size: 2vw; /*21px;*/ /*14px;*/
  display: block;
}

ul   {
  margin: 0;
  padding: 0;
}

li  {
  list-style-type: circle;
  list-style-position: inside;
}

article ol li {
  list-style-type: decimal;
  padding-left: 2vw; /*20px;*/
}

article ul li {
  list-style-type: disc;
  padding-left: 2vw; /*20px;*/
}

article p {
  line-height: 1.5;
  /*text-align: justify;*/
}

div.img-gallery {
  margin-top: 1em;
}

b, strong {
  font-weight: 800;
  color: #1E2025;
}
em, i {
  font-style: italic;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

blockquote {
  padding-left: 1.5vw; /*15px;*/
  border-left: 2px solid #eee;
  opacity: 0.8;
  font-style: italic;
    margin-top: 1.5vw; /*15px;*/
}

hr {
  display: block;
  border: none;
  height: 2px;
  margin: 5vw 0 5.5vw 0; /*34px 0 40px 0;*/
  background: #eee;
  width: 30%;
  text-align: center;
}

span.separator {
  display: block;
  margin: 6vw 0 6.5vw 0; /*42px 0 48px 0;*/
  width: 100%;
}

span.divider {
  display: block;
  width: 100%;
  background-color: #eee;
  height: 1px;
  margin: 0 auto;
}

span.separator:last-child {
  display: none;
}

span.code { font-family:Menlo, Monaco, Courier; background-color:#EEE; font-size:14px; }

pre  {
  font-family:Menlo, Monaco, Courier;
  white-space:pre-wrap;
  padding: 2vw;/*20px;*/
  background-color:#fdfdfd;
  overflow:auto;
  border-radius: 5px;
  background: #272b2d;
  font-family: "Source Code Pro",Menlo,monospace;
  font-size: 1.25vw; /*13px;*/
  line-height: 1.5em;
  font-weight: 500;
  color: #d0d4d7;
  margin-top: 1.5vw; /*15px;*/
}

table {
  width: 100%;
  margin: 5vw 0; /*40px 0;*/
  border-collapse: collapse;
  font-size: 1.25vw; /*13px;*/
  line-height: 1.5em;
}

th,td {
  text-align: left;
  padding-right: 2vw;/*20px;*/
  vertical-align: top;
}

table td,td {
  border-spacing: none;
  border-style: solid;
  padding: 1vw /*10px*/ 1.5vw; /*15px;*/
  border-width: 1px 0 0 0;
}

tr>td {
  border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td {
  background: #fcfcfc;
}

thead th,th {
  text-align: left;
  padding: 1vw 1.5vw; /*10px 15px;*/
  height: 2vw; /*20px;*/
  font-size: 1.25vw; /*13px;*/
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  /*border-radius: 5px;*/
}

/* Others */

.dates {
  font-weight: 200;
  font-size: 2vw; /*20px;*/ /*13px;*/
  color: #bbb;
  width: 100%;
  text-transform: uppercase;
  padding-top: 0.5vw; /*5px;*/
}

h2.headline {
  margin-top: 0;
  margin-bottom: 6vw; /*50px;*/
}

#wrapper, html {
  max-width: 80vw;/*600px;*/
  margin: 0 auto;
  padding: 5vw; /*25px;*/
}

a {
  text-decoration: none;
  color: #000;
}

code.highlighter-rouge {
  background-color: #F5F5F5;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 8px;
  color: #7F7F7F;
  font-size: 2vw; /*22px;*/ /*15px;*/
  line-height: 1.35;
  font-style: italic;
}

/* Footer */

footer #wrapper {
  margin: 0 auto;
  text-align: center;
  padding: 5vw 0 7vw 0; /*35px 0 80px 0;*/
}

#footer {
  text-align: center;
}

#footer a {
  color: #000;
  font-size: 2vw; /*20px;*/ /*13px;*/
  line-height: 1.35;
  font-weight: 500;
}

#footer li {
  display: inline;
  padding: 0 1vw; /*10px;*/
}

#footer #indieweb {
  display: flex;
  justify-content: center;
  padding-bottom: 2vw; /*2em;*/
}

#footer #indieweb a:first-child {
  margin-right: 2vw; /*20px;*/
}

#footer #indieweb a:last-child {
  margin-left: 2vw; /*20px;*/
}

video {
  max-width: 100%;
}

.emo { font-size: 75%; }

p > a, figure > a {
  box-shadow: inset 0 -2px 0 #000;
}

figure { padding-top: 8vw; }

a.glightbox, a.img-link {
  text-decoration:none;
  box-shadow: none;
  display: block;
  margin-top: 8vw;
}

/* Profile */

.profile #wrapper {
  margin: 0 auto;
  text-align: center;
  padding: 8vw 0; /*80px 0;*/
}

.profile #avatar {
  display: inline-block;
  /*width: 320px; 80px;*/
  /*height: 320px; 80px;*/
  margin-bottom: 2vw; /*1em;*/
  /*border-radius: 40px;*/
}

header.h-card h4.p-role {
  color: #aaa;
  /*margin-top: -0.75em;*/
  font-size: 2.5vw; /*24px;*/
  font-weight: 200;
  line-height: 1.5;
  text-align: left;
  display: flex;
  justify-content: center;
}

h4.p-role div#social-media-links {
  margin-left: 2vw; /*2em;*/
}

header.h-card p.p-note {
  line-height: 1.5; /*26px;*/
  text-align: left;
}

div#wrapper p {
  line-height: 1.5; /*26px;*/
  text-align: left;
}

/* Nav */

nav.main-nav {
  padding: 2vw 2vw 0; /*20px 20px 0;*/
  margin: 0 auto;
  text-align: right;
  z-index: 100;
}

nav.main-nav a {
  top: 0.75vw; /*8px;*/
  right: 0.7vw; /*6px;*/
  font-size: 0.9vw; /*17px;*/
  line-height: 1.35;
  font-weight: 400;
  margin-left: 0.8vw; /*12px;*/
}

nav.main-nav a:hover, #footer a:hover, #post-nav a:hover, p a:hover {
  box-shadow: inset 0 -2px 0 #9FADBF;
}

nav.main-nav a.selected {
  box-shadow: inset 0 -2px 0 #9FADBF;
}

nav.main-nav a, #footer a, #post-nav a, p a {
  font-weight: 400;
  transition: all .35s;
  transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}

/* Media Queries */
@media screen and (max-width: 540px) {

  footer #wrapper {
    padding: 4.5vw 0 5.5vw 0; /*35px 0 60px 0;*/
  }

  h1 {
    font-size: 4vw; /*32px;*/ /*24px;*/
  }

  h2 {
    font-size: 4.5vw; /*30px;*/ /*22px;*/
  }

  h3 {
    font-size: 3vw; /*27px;*/ /*19px;*/
  }

  h4 {
    font-size: 2.5vw; /*24px;*/
  }

}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape)
{
  body {-webkit-text-size-adjust: none;}
}
/*=========================================
Post List
=========================================== */


#post-list li {
  list-style-type: none;
}

#post-list li:last-child {
  margin-bottom: 0;
}

#post-list h2 {
  margin-top: 0;
  line-height: 1.35;
}

/* The main wrapper for pagination links */
.pagination {
    position: relative;
    margin-top: 4vw; /*3rem;*/
    margin-bottom: 0vw; /*0rem;*/
    margin-left: auto;
    margin-right: auto;
  font-size: 2vw; /*20px;*/ /*13px;*/
  color: #bbb;
    text-align: center;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
    position: absolute;
    display: inline-block;
}

.older-posts {
    right: 0;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 7vw; /*100px;*/
}

.newer-posts {
    left: 0;
}

.extra-pagination {
    display: none;
}

.extra-pagination .pagination {
    width: auto;
}

/* On page2+ show extra pagination controls at the top of post list */
.paged .extra-pagination {
    display: block;
}

.banner-image {
  background-color: #516189;
  height: 10vw; /*300px;*/
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Nav */

nav.main-nav {
  background: #516189;
}

nav.main-nav a {
  color: #FFF;
}

div.category-content {
  margin-bottom: 8vw;
  line-height: 1.5; /*26px;*/
  text-align: left;
}

#category-cloud {
 margin-top: 2vw; /*1em;*/
}

#category-cloud a {
  color: #666;
}

#category-cloud a:hover {
  color: #000;
}

#post-meta img.avatar, #post-meta a img.avatar {
  height: 4vw; /*36px;*/
  width: auto; /*36px;*/
  float: left;
  margin-right: 2vw; /*15px;*/
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
  border-radius: 50%;
}

article.post {
  margin-bottom: 5vw; /*50px;*/
}

article.post header h1.p-name {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 540px) {

  .profile #wrapper {
    margin: 0 auto;
    text-align: center;
    padding: 7vw 0 5.5vw 0; /*70px 0 40px 0;*/
  }

}

@media screen and (max-width: 540px) {
  div#categories-artsy-fartsy {
     background-position: 35% 50%;
  }
  div#categories-critters {
     background-position: 35% 50%;
  }
}

/*@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #1c1c1e;
  }

  nav.main-nav {
    background: #1c1c1e;
  }

  a, nav.main-nav a, #footer a, #post-nav a, p a, ul a, ol a, h1, h2, h3 {
    color: white;
  }
}*/
/* Post */

.post-body li:last-child {
  margin-bottom: 3vw; /*1.5em;*/
}

.post-body ol li {
  list-style-type: decimal !important;
}

.post-body ul li {
  list-style-type: disc !important;
}

.post header {
  text-align:center;
}

#post-meta {
  font-size: 2vw; /*20px;*/ /*13px;*/
  font-weight: 200;
  line-height: 1.5;
  border-top: 1px solid #eee;
  padding-top: 5vw; /*40px;*/
  padding-bottom: 5vw; /*40px;*/
  margin-top: 5.5vw; /*60px;*/
  color:#444;
  border-bottom: 1px solid #eee;
}

#post-meta div span {
  color: #aaa;
  font-weight: 100;
  display: block;
}

#post-meta div span.dark {
  color: #1E2025;

}

#post-meta div {
  float: left;
}

#post-meta img.avatar {
  height: 4vw; /*36px;*/
  width: auto; /*36px;*/
  float: left;
  margin-right: 2vw; /*15px;*/
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
  border-radius: 50%;
}

/* Post Page */
#header {
  border-bottom: 1px solid #eee;
}

.post {
  margin: 10vw/*120px*/ 0 0 0;
}

/* Post Navigation */
#post-nav {
  text-align:center;
  padding-top: 2vw; /*20px;*/
  font-size: 2vw; /*20px;*/ /*13px;*/
  font-weight:400;
  margin-top: 5vw; /*40px;*/
}

#post-nav span {
  position: relative;
}

#post-nav span.prev {
  float: left;
}

#post-nav span.next {
  float: right;
}

#post-nav span .arrow {
  position: relative;
  padding: 1px;
}

/* Nav */

nav.main-nav {
  background: #fff;
  background: rgba(255,255,255,.90);
}

nav.main-nav a {
  color: #000;
}

.microblog_conversation {
  margin-top: 6vw; /*50px;*/
  padding-top: 2vw; /*20px;*/
  border-top: 0.5px solid lightgray;
}

.microblog_post {
  padding-top: 2vw; /*20px;*/
  padding-bottom: 2vw; /*20px;*/
}
div.microblog_post + div.microblog_post {
  border-top: 0.5px solid lightgray;
}

div.microblog_text p  a {
  text-decoration: none;
  box-shadow: none;
}

.microblog_avatar {
  border-radius: 1.1vw; /*10px;*/
  vertical-align: middle;
}

.microblog_time {
  font-size: 1.25vw; /*13px;*/
  padding-top: 1.1vw; /*10px;*/
  color: gray;
}

.microblog_time a {
  color: gray;
  text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 540px) {

  #post-meta {
    padding-top: 5vw; /*30px;*/
    padding-bottom: 5vw; /*30px;*/
    margin-top: 10vw; /*60px;*/
  }

  .post {
    margin: 5vw 0; /*50px 0;*/
  }

}

/*@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #1c1c1e;
  }

  nav.main-nav {
    background: #1c1c1e;
  }

  a, nav.main-nav a, #footer a, #post-nav a, p a, ul a, ol a, h1, h2, h3 {
    color: white;
  }
}*/