<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
  
{{- /**********************
  Include the theme version 
  *************************/ -}}
  
{{- printf "<!--%s-->" (partial "util/theme-build.html" .) | safeHTML }}

{{- /***********************************
  Redirect Javascript console if flagged
  **************************************/ -}}
{{- if site.Data.theme.Config.DebugConsole -}}

<script src="/assets/js/console.js"></script>

{{- end -}}


{{- /************************************
  Support injection of plugin html up top 
  ***************************************/ -}}
  
{{- partial "inject/html.html" (slice "HEAD_TOP" .) }}

{{- /****************
  Define the viewport 
  *******************/ -}}
  
{{- with site.Data.theme.Viewport -}}
  {{- $content := printf "width=%s, initial-scale=%s" .Width .InitialScale -}}
  {{- with .MinimumScale }}{{ $content = printf "%s, minimum-scale=%s" $content . }}{{ end -}}
  {{- with .MaximumScale }}{{ $content = printf "%s, maximum-scale=%s" $content . }}{{ end -}}
  {{- with .ViewportFit }}{{ $content = printf "%s, viewport-fit=%s" $content . }}{{ end -}}
  
<meta name="viewport" content="{{ $content }}">

{{- end -}}

{{- /***************
  Define site author 
  ******************/ -}}
  
<meta name="author" content="{{ site.Author.name }}">

{{- /*******************
  Include the page title 
  **********************/ -}}
  
<title>
{{- site.Title -}}
{{- with .Title }}{{ printf " - %s" . }}{{ end -}}
</title>

{{- /************************* 
  Include the page description 
  ****************************/ -}}
  
{{- with .Description }}<meta name="description" content="{{ . }}">{{ end -}}

{{- /************************
  Include links for the feeds 
  ***************************/ -}}

{{- if .RSSLink -}}
<link rel="alternate" type="application/rss+xml" title="{{ site.Title }}" href="{{ .RSSLink }}" >
<link rel="alternate" type="application/rss+xml" title="Podcast" href="{{ "podcast.xml" | absURL }}" >
<link rel="alternate" type="application/json" title="{{ site.Title }}" href="{{ "feed.json" | absURL }}">
<link rel="EditURI" type="application/rsd+xml" href="{{ "rsd.xml" | absURL }}">
{{ end }}

{{- /******************************************************* 
  Include links for the micropub, microsub, webmention, etc. 
  **********************************************************/ -}}
  
<link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth" />
<link rel="token_endpoint" href="https://micro.blog/indieauth/token" />
<link rel="micropub" href="https://micro.blog/micropub" />
<link rel="microsub" href="https://micro.blog/microsub" />
<link rel="webmention" href="https://micro.blog/webmention" />
<link rel="subscribe" href="https://micro.blog/users/follow" />

{{- /****************
  Include stylesheets 
  *******************/ -}}
  
<link rel="stylesheet" href="https://use.typekit.net/nmn4mcn.css">

{{- if (eq site.Data.theme.Config.CSSPriority "theme") -}}
  {{- partial "inject/css.html" . -}}
{{- end -}}

{{- /* Build and link the core stylesheet */ -}}
{{- with site.Data.theme.Sass -}}

{{- $base := resources.Get "sass/base.scss" 
             | toCSS (dict 
                      "targetPath" (path.Join .TargetDirectory "base.css")  
                      "outputStyle" .OutputStyle 
                      "enableSourceMap" .EnableSourceMap) -}}
                      
{{- if .Fingerprint }}{{ $base = $base | fingerprint }}{{ end -}}

<link rel="stylesheet" href="{{ $base.Permalink }}"
{{- if .Fingerprint }} integrity="{{ $base.Data.Integrity }}"{{ end -}}
>

{{- end -}}

{{- /* Include the custom stylesheet last */ -}}
<link rel="stylesheet" href="{{ "custom.css" | relURL }}?{{ site.Params.theme_seconds }}">

{{- if not (eq site.Data.theme.Config.CSSPriority "theme") -}}
  {{- partial "inject/css.html" . -}}
{{- end -}}

{{- /*********************************************************
  Inject plugin HTML includes not assigned a specific location 
  ************************************************************/ -}}
  
{{- partial "inject/html.html" (slice "" .) }}

{{- /******************************************************
  Create a block for including any additional head elements 
  *********************************************************/ -}}
{{- block "head" . }}{{ end }}

</head>

{{- /* Extract the page path */ -}}
{{- $path := (urls.Parse .Permalink).Path -}}

<body id="{{ $path | anchorize | default "home" }}" class="kind-{{ .Kind }} type-{{ .Type }}"
{{- if eq .Type "post" }} style="--md-header-bg: var(--md-header-bg-l); --md-mnl-col: var(--md-mnl-col-d); --md-mnl-hov-col: var(--md-mnl-hov-col-d); --md-mnl-hov-shad: var(--md-mnl-hov-shad-d); --md-mnl-sel-shad: var(--md-mnl-sel-shad-d);"{{ end -}}
>

{{- /**********************************************
  Support injection of plugin html above the header  
  *************************************************/ -}}
  
{{- partial "inject/html.html" (slice "ABOVE_HEADER" .) }}

{{- /*******************
  Create the page header 
  **********************/ -}}
  
<header>

{{- /*****************
  Include the main nav 
  ********************/ -}}

<nav id="main-nav" role="navigation">

{{- range site.Menus.main -}}

<a class="main-nav-link
{{- if (or (eq .URL $path) 
          (in ($.Page.Params.categories | default slice) 
              .Title)) }} selected{{ end }}" href="{{ .URL }}">
<nobr>{{ .Title }}</nobr>
</a>
  
{{- end -}}

<div id="pse-container"></div>
</nav>

{{- /********************
  Include the page banner 
  ***********************/ -}}
  
{{- if templates.Exists "partials/plugin-banner/banner.html" -}}
{{- partial "plugin-banner/banner.html" . -}}
{{- end -}}

{{- /**************************
  Include theme version overlay 
  *****************************/ -}}
{{- partial "theme-version.html" . }}

</header>

{{- /**********************************************
  Support injection of plugin html below the header  
  *************************************************/ -}}
  
{{- partial "inject/html.html" (slice "BELOW_HEADER" .) }}

{{- /******************************************
  Create a block for the secondary page content 
  *********************************************/ -}}
  
<aside>
{{ block "aside" . }}{{ end }}
</aside>

{{- /****************************************
  Create a block for the primary page content 
  *******************************************/ -}}
  
<main>
{{ block "main" . }}{{ end }}
</main>

{{- /**********************************************
  Support injection of plugin html above the footer  
  *************************************************/ -}}
  
{{- partial "inject/html.html" (slice "ABOVE_FOOTER" .) -}}

{{- /*******************
  Create the page footer 
  **********************/ -}}
<footer>
  
{{- /**************************
  Include the feed/email links 
  *****************************/ -}}
  
<ul id="feeds-email">
  <li><a href="/feed.xml">RSS</a></li>
  <li><a href="/feed.json">JSON Feed</a></li>
  {{ with site.Author.email -}}
  <li><a class="u-email" href="mailto:{{.}}"rel="me">Email</a></li>
  {{- end }}
</ul>

{{- /*************************************
  Include the user's custom footer content
  ****************************************/ -}}
{{- partial "custom_footer.html" . -}}

{{- /********************
  Include the webring nav 
  ***********************/ -}}
  
{{- if templates.Exists "partials/plugin-webring/webring.html" -}}
{{- partial "plugin-webring/webring.html" . -}}
{{- end -}}

{{- /******************
  Include the copyright 
  *********************/ -}}
  
{{ with site.Copyright -}}
<small id="copyright">{{ replace . "{year}" now.Year }}</small>
{{- end }}

</footer>

{{- /********************************************** 
  Support injection of plugin html below the footer  
  *************************************************/ -}}
  
{{- partial "inject/html.html" (slice "BELOW_FOOTER" .) -}}

{{- /************************************
  Include Bootstrap Javascript if flagged 
  ***************************************/ -}}
{{- if site.Data.theme.Config.IncludeBootstrapScript -}}
<script src="/assets/js/bootstrap.bundle.min.js"></script>
{{- end -}}

{{- /******************************
  Insert plugin Javascript includes 
  *********************************/ -}}
  
{{- partial "inject/js.html" . -}}

</body>
</html>