<article>
  <header>
  {{- with .Title }}<h2 class="post-title">{{ . | markdownify }}</h2>{{ end -}}
  </header>
  
  <section class="post-body">
  
{{- if (findRE `<!--more-->` .Content) -}}

  {{ $segments := split .Content "<!--more-->" }}
  
  {{ index $segments 0 | safeHTML }}
  
  {{- $read_more := and (gt (len $segments) 1) (len (index $segments 1))  }}
  
  {{- if $read_more }}{{ template "read-more" . }}{{ end -}}
 
{{- else if .Title -}}

  {{ .Summary }}
  
  {{- if .Truncated }}{{ template "read-more" . }}{{ end -}}  
  
{{- else -}}
  
  {{ .Content }}

{{- end -}}
  </section>
  
{{- $datetime := .Date.Format site.Params.Theme.Date.DateTime -}}
{{- $time := .Date.Format site.Params.Theme.Date.TimeDay -}}
  
  <footer>
  <a href="{{ .Permalink }}" class="u-url">
    <time datetime="{{ $datetime }}" class="dt-published">
      → {{ $time }}
      </time>
  </a>
  </footer>
</article>

{{ define "read-more" -}}
<p><a class="read-more" href="{{ .RelPermalink }}">Read More</a></p>
{{- end }}