<article>
  <header>
  {{- with .Title }}<h2 class="post-title">{{ . | markdownify }}</h2>{{ end -}}
  </header>
  
  <section class="post-body">
  {{ if findRE "<!--more-->" .Content }}
  {{ template "more-split" . }}
  {{ else if (and site.Params.Theme.SummarizeTitledPosts .Title) }}
  {{ template "titled" . }}
  {{ else }}
  {{ .Content }}
  {{ end }}
  </section>
  
{{- $datetime := .Date.Format site.Params.Theme.Date.DateTime -}}
{{- $time := .Date.Format site.Params.Theme.Date.TimeDay -}}
  
  <footer>
  <a href="{{ .Permalink }}" class="u-url">
    <time datetime="{{ $datetime }}" class="dt-published">
      {{ $time }}
      </time>
  </a>
  </footer>
</article>

{{ define "more-split" }}

{{ $segments := split .Content "<!--more-->" }}
{{ index $segments 0 | safeHTML }}

{{ if (and (eq (len $segments) 2) (index $segments 1 | chomp)) }}
{{ template "read-more" . }}
{{ end }}
   
{{ end }}

{{ define "titled" }}

{{ .Summary }}

{{ if .Truncated }}
{{template "read-more" . }}
{{ end }}

{{ end }}

{{ define "read-more" }}
<p><a class="read-more" href="{{ .RelPermalink }}">Read More</a></p>
{{ end }}