{{- define "main" -}}
<article class="h-entry post">
  <header>
    <h1 class="p-name">{{ .Title }}</h1>
  </header>
  <section class="e-content post-body">
      {{ .Content }}
  </section>
</article>
{{- with site.Author -}}
<section id="post-meta" class="clearfix">
  <a href="/">
    <img class="u-photo avatar" src="{{ .avatar }}" width="96" height="96">
    <div>
      <span class="p-author h-card dark">{{ .name }}</span>
      <span><a href="https://micro.blog/{{ .username }}">@{{ .username }}</a></span>
    </div>
  </a>
</section>
{{- end -}}
{{- end -}}