{{- if .Site.Params.include_debug_comments -}}
{{ printf "\n<!-- BEGIN layouts/partials/footer/footer-javascript.html -->\n" | safeHTML }}
{{- end -}}
{{- /* Include theme JavaScript */ -}}
  <script src="/assets/js/glightbox.js"></script>
  <script>
  var href = window.location.href;

  var href_sans_categories = href;
  
  if (href.includes("/categories") 
  && !(href.endsWith("categories") || href.endsWith("categories/")) 
  {
    href_sans_categories = href.replace("/categories", "");
    
    var xhr = new XMLHttpRequest();
    xhr.onload = function() {
      
    if (this.status < 400 && this.status >= 300) {
        alert('this redirects to ' + this.getResponseHeader("Location"));
      } else {
        alert('doesn\'t redirect ');
      }
    }
    xhr.open('HEAD', href_sans_categories, true);
    xhr.send();
  
       
  }
  </script>
  {{- /* Include plugin JavaScript */ -}}
{{- range .Site.Params.plugins_js }}
  <script src="{{ . }}"></script>
{{ end -}}
{{- if .Site.Params.include_debug_comments -}}
{{ printf "\n<!-- END layouts/partials/footer/footer-javascript.html -->\n" | safeHTML }}
{{- end -}}