{{/* Customized About page */}}
{{ define "main" }}

{{ partial "profile.html" . }}

<div id="wrapper"><p  style="line-height: 26px; text-align: left;">
What? Y’all want something not constructed as a Trumpian dig for an itty bitty Twitter bio box?</p>

<p>
<img src="https://moondeer.blog/uploads/2021/f5130a1cf3.jpg" /></p>

<p  style="line-height: 26px; text-align: left;">
Fine. Let me think on it (and yes, my father had to remind me that I was born at Northside and not Grady).
</p>

</div>

{{ end }}