{{/* Customized About page */}}
{{ define "main" }}

{{ partial "profile.html" . }}

<div id="wrapper"><p  style="line-height: 26px; text-align: left;">
What? Y’all want something not constructed as a Trumpian dig for an itty bitty Twitter bio box?</p>

<p>
<img src="https://moondeer.blog/uploads/2021/f5130a1cf3.jpg" /></p>

<p  style="line-height: 26px; text-align: left;">
Fine. Let me think on it (and yes, my father had to remind me that I was born at Northside and not Grady).
</p>

<p  style="line-height: 26px; text-align: left;">I suppose the very least I could do is point you at sh$t I have already composed that just might elucidate some of my what-the-f$&kedness.</p>

<p  style="line-height: 26px; text-align: left;">Take, for example, the conundrum of how one collects two undergraduate degrees and manages to go absolutely nowhere in life. Reading something like <a href="https://moondeer.blog/2021/02/21/on-fking-up.html">this</a> would probably go a long way with regard to cracking that particular nut.</p>

<p  style="line-height: 26px; text-align: left;">Farther back, huh? Figuring childhood trauma, I presume. Not even a little bit. Life was a g@dd@mn cakewalk. </p>

<p><img src="https://moondeer.blog/uploads/2021/649b8f887e.jpg" width="3024" height="4032" alt="" /></p>

<p  style="line-height: 26px; text-align: left;">Soccer all-star from age four, stuck into an accelerated learning program when I was in third grade after the score I put up on my Iowa Test of Basic Knowledge (within which the sneaky buggers hide an IQ test), and making friends was effortless. For f$&k’s sake, they decided to give me a senior superlative on account of my appearance.</p>

<p  style="line-height: 26px; text-align: left;"><img src="https://moondeer.blog/uploads/2021/e26af155c2.jpg" width="4032" height="3024" alt="" /></p>

<p  style="line-height: 26px; text-align: left;">What went wrong? Well it turns out that socially isolating myself for 18 years was a bad f$&king idea (the jury is still out as to whether attempting to reconnect <a href="https://moondeer.blog/2021/02/27/so-long-twitter.html">via social media</a> was an equally bad idea).</p>

<p  style="line-height: 26px; text-align: left;">Living in social isolation certainly makes <a href="https://moondeer.blog/2021/03/02/on-pet-loss.html">pet loss</a> more difficult. I have noticed; however, that there are a few perks to life on the other side of an existential crisis (I am headed into existential crisis numero deus so Imma keep those perks to myself for the time being).</p>

<p  style="line-height: 26px; text-align: left;">There was a week not long ago where I truly thought I might be able to make the kinds of connections I have been searching for since jumping into social media last year. After 20 years, I remembered I was meant to write … and to have <a href="https://moondeer.blog/2021/02/24/on-dragons.html">big ideas</a>. The problem seems to be the having of the ideas in isolation. </p>

<p  style="line-height: 26px; text-align: left;">The frustration of being unable to connect keeps a fire lit in the corner of my mind … tended by that piece of me wanting to say f$&k it … let’s just disappear … into the wild</p>

<p><img src="https://moondeer.blog/uploads/2021/93f6402abd.jpg" /></p>

<p  style="line-height: 26px; text-align: left;">So there’s a rough sketch for ya. No doubt I will comeback later and overhaul the f$&k out of this little sh$t show.</p>
</div>

{{ end }}