{{- /* 
  Check for the use of one of the shortcodes.
  NOTE: Purposely breaking this until I figure
        out what to do about pages invoking
        partials directly
  */ -}}
{{- $has_shortcode := true -}}
{{- if .IsNode -}}
  {{- if (or
           (or (.HasShortcode "gallery-markdown")
               (.HasShortcode "gallery"))
           (or (.HasShortcode "glightbox")
               (.HasShortcode "lightbox"))) -}}
    {{- $has_shortcode = true -}}
  {{- else -}}
    {{- range .Pages -}}     
      {{- if (or
               (or (.HasShortcode "gallery-markdown")
                   (.HasShortcode "gallery"))
               (or (.HasShortcode "glightbox")
                   (.HasShortcode "lightbox"))) -}} 
        {{- $has_shortcode = true -}}
      {{- else -}}  
        {{- range .Pages -}}
          {{- if (or
                   (or (.HasShortcode "gallery-markdown")
                       (.HasShortcode "gallery"))
                   (or (.HasShortcode "glightbox")
                       (.HasShortcode "lightbox"))) -}} 
            {{- $has_shortcode = true -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- if (or
           (or (.HasShortcode "gallery-markdown")
               (.HasShortcode "gallery"))
           (or (.HasShortcode "glightbox")
               (.HasShortcode "lightbox"))) -}} 
    {{- $has_shortcode = true -}}
  {{- end -}}
{{- end -}}

{{- /* Only inject when necessary */ -}}
{{- if $has_shortcode -}}

  {{- /* Resolve the plugin parameter values. */ -}}
  {{- if not (.Scratch.Get "plugin-lightbox.Parameters") -}}
    {{- partial "plugin-lightbox/load-parameters.html" . -}}
  {{- end -}}
  
  {{- with (.Scratch.Get "plugin-lightbox.Parameters") -}}
  
    {{- if .Config.DebugPrint -}}
      {{- printf "\n<!--plugin-lightbox.Parameters:\n%s\n-->" (. | jsonify (dict "prefix" " " "indent" "  ")) | safeHTML -}}
    {{- end -}}
  
    {{- /* Insert the plugin version and build time */ -}}
    {{- $time := (time (sub now.Unix 28800)).Format "Jan 2 at 15:04" -}}
    {{- $version := .Config.Version -}}
    {{ printf "\n<!-- Lightbox v%s (built on %s) -->\n" $version $time | safeHTML }}
    
    {{- $glightbox := resources.Get "js/plugin-lightbox/vendor/glightbox.min.js" -}}
    
    {{- $source_dir := "js/plugin-lightbox/" -}}
    {{- $template_name := "lightbox.js" -}}
    {{- $source := path.Join $source_dir $template_name -}}
    {{- $target := path.Join "assets" $source -}}    
    {{- $lightbox := resources.Get $source | resources.ExecuteAsTemplate $target $ -}}
    
    {{- $target = path.Join (path.Dir $target) "lightbox-bundle.js" -}}
    {{- $script := slice $glightbox $lightbox | resources.Concat $target -}}
    {{- if .Config.MinifyScript }}{{ $script = $script | minify }}{{ end -}}
    {{- if .Config.Fingerprint }}{{ $script = $script | fingerprint }}{{ end -}}  
    
    {{- print "\n" -}}
<script defer src="{{ $script.Permalink }}"
{{- if .Config.Fingerprint }} integrity="{{ $script.Data.Integrity }}"{{ end -}}
></script>
    
    {{- $source_dir = "sass/plugin-lightbox/" -}}
    {{- $template_name = "lightbox.scss" -}}
    {{- $source = path.Join $source_dir $template_name -}}
    {{- $target = path.Join "assets" $source -}}
    {{- $style := resources.Get $source | resources.ExecuteAsTemplate $target $ -}} 
  
    {{- $target = $target | replaceRE "sass|scss" "css" -}}
    {{- $options := dict "targetPath" $target "outputStyle" .Config.SassOutput -}}
    {{- $style = $style | toCSS $options -}}
  
    {{- if .Config.Fingerprint }}{{ $style = $style | fingerprint }}{{ end -}}
  
    {{- print "\n" -}}
<link rel="stylesheet" href="{{ $style.Permalink }}"
{{- if .Config.Fingerprint }} integrity="{{ $style.Data.Integrity }}"{{ end -}}
>
  
  {{- end -}}

{{- end }}