{{- /* Created to hold the switch logic for assigning banner images, These are set as background images via CSS  */ -}}
{{- if site.Params.include_debug_comments }}
{{ printf "<!-- BEGIN layouts/partials/banner.html -->" | safeHTML }}
{{ end -}}
{{- $path := (urls.Parse .Permalink).Path -}}
{{- with (index .Site.Data.banners $path) -}}
<div id="{{ anchorize $path }}" class="banner-image" style="background-image: url({{ . }});"></div>
{{- end -}}
{{- if site.Params.include_debug_comments }}
{{ printf "<!-- END layouts/partials/banner.html -->" | safeHTML }}
{{ end -}}