{{/* URL */}}
<meta property="og:url" content="{{ .Permalink }}" />

{{/* Site name */}}
{{ with .Site.Params.title }}
<meta property="og:site_name" content="{{ . }}" />
{{- end -}}

{{/* Title */}}
{{- if .Title -}}
{{- partial "cards/title.html" .Title -}}
{{- else -}}
{{- partial "cards/title.html" .Site.Title -}}
{{- end }}

{{/* Description */}}
{{ if .Description }}
{{- partial "cards/description.html" .Description -}}
{{- else -}}
  {{- if .IsPage -}}
  {{- partial "cards/description.html" .Summary -}}
  {{/*- else if .Site.Params.description -}}
    {{- partial "cards/description.html" .Site.Params.description -*/}}
  {{- end -}}
{{- end -}}

{{/* Image */}}
{{ with $.Params.images }}
{{- partial "cards/image.html" (index . 0 | absURL) -}}
{{- else -}}
{{ $url := urls.Parse .Permalink }}
{{ $parts := split $url.Path "/" }}
{{ $kind := index $parts 1 }}
{{ if eq $kind "categories" }}
{{ $category := index $parts 2 }}
{{ if eq $category "perspectives" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/45d159bbd8.jpg" -}}
{{ else if eq $category "projects" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/a0c8728c89.jpg" -}}
{{ else if eq $category "poetry" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/23a2035cdc.jpg" -}}
{{ else if eq $category "music" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/8d0a055caa.jpg" -}}
{{ else if eq $category "programming" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/47e02e5e74.jpg" -}}
{{ else if eq $category "critters" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/0a37500db6.jpg" -}}
{{ else if eq $category "stream-of-consciousness" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/c11b3de2ff.jpg" -}}
{{ else if eq $category "biographical-tripe" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/92a565154b.jpg" -}}
{{ else if eq $category "artsy-fartsy" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/54e4381559.jpg" -}}
{{ else if eq $category "personal-favorites" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/328c442bd6.jpg" -}}
{{ else }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/7c412827ad.jpg" -}}
{{ end }}
{{ else if eq $kind "about" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/952e12123d.jpg" -}}
{{ else if eq $kind "cloud" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/603feff919.jpg" -}}
{{ else }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/7c412827ad.jpg" -}}
{{- end -}}
  {{ end }}

{{ partial "cards/content.html" . }}

{{ partial "cards/time.html" . }}