{{/* URL */}}
<meta property="og:url" content="{{ .Permalink }}" />

{{/* Site name */}}
{{ with .Site.Params.title }}
<meta property="og:site_name" content="{{ . }}" />
{{- end -}}

{{/* Title */}}
{{- if .Title -}}
{{- partial "cards/title.html" .Title -}}
{{- else -}}
{{- partial "cards/title.html" .Site.Title -}}
{{- end }}

{{/* Description */}}
{{ if .Description }}
{{- partial "cards/description.html" .Description -}}
{{- else -}}
  {{- if .IsPage -}}
  {{- partial "cards/description.html" .Summary -}}
  {{- else if .Description -}}
  {{- partial "cards/description.html" .Description -}}
  {{- else -}}
  {{- partial "cards/description.html" "All the latest things to fall out my head." -}}
  {{- end -}}
{{- end -}}

{{/* Image */}}
{{ with $.Params.images }}
{{- partial "cards/image.html" (index . 0 | absURL) -}}
{{- else -}}
{{ $url := urls.Parse .Permalink }}
{{ $parts := split $url.Path "/" }}
{{ $kind := index $parts 1 }}
{{ if eq $kind "categories" }}
{{ $category := index $parts 2 }}
{{ if eq $category "perspectives" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/fa637e7fe0.png" -}}
{{ else if eq $category "projects" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/74512379fa.png" -}}
{{ else if eq $category "poetry" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/02bec3693a.png" -}}
{{ else if eq $category "music" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/b604ce0519.png" -}}
{{ else if eq $category "programming" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/0d2564a5e5.png" -}}
{{ else if eq $category "critters" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/e0dfd20403.png" -}}
{{ else if eq $category "stream-of-consciousness" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/b48fce578f.png" -}}
{{ else if eq $category "biographical-tripe" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/ac4a187662.png" -}}
{{ else if eq $category "artsy-fartsy" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/608bfd1756.png" -}}
{{ else if eq $category "personal-favorites" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/7529b05b3e.png" -}}
{{ else }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/8135337116.png" -}}
{{ end }}
{{ else if eq $kind "about" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/87eced620f.png" -}}
{{ else if eq $kind "cloud" }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/bc53f58e45.png" -}}
{{ else }}
{{- partial "cards/image.html" "https://moondeer.blog/uploads/2021/8135337116.png" -}}
{{- end -}}
  {{ end }}

{{ partial "cards/content.html" . }}

{{ partial "cards/time.html" . }}