{{/* Modifed to create hooks for the banners of non-list pages, these are set as  background images via CSS */}}
{{ partial "navigation.html" . }}
{{ if .IsHome }}
<div id="latest" class="banner-image"></div>
{{ else }}
{{ $url := urls.Parse .Permalink }}
{{ $parts := split $url.Path "/" }}
{{ $kind := index $parts 1 }}
{{ if eq $kind "cloud" }}
<div id="cloud" class="banner-image"></div>
{{ else if eq $kind "about" }}
<div id="about" class="banner-image"></div>
{{ else if eq $kind "plausible" }}
<div id="plausible" class="banner-image"></div>
{{ else if and (eq $kind "2020") (not .IsPage) }}
<div id="year-2020" class="banner-image"></div>
{{ else if and (eq $kind "2021") (not .IsPage) }}
<div id="year-2021" class="banner-image"></div>
{{ else }}
{{ if and (eq $kind "categories") (not .IsPage) }}
{{ $category := index $parts 2 }}
{{ partial "banner.html" $category }}
{{ end }}
{{ end }}
{{ end }}