{{- if .Site.Params.include_debug_comments }}
{{ printf "<!-- BEGIN layouts/partials/navigation.html -->" | safeHTML }}
{{ end -}}
<nav class="main-nav">
{{- if .Page.IsHome -}}
  {{ partial "navigation/home-page-navigation.html" . }}
{{- else if eq .Page.Type "post" -}}
  {{ partial "navigation/single-post-navigation.html" . }}
{{- else -}}
  {{ partial "navigation/menu-page-navigation.html" . }}
{{- end -}}
</nav>
{{- if .Site.Params.include_debug_comments }}
{{ printf "<!-- END layouts/partials/navigation.html -->" | safeHTML }}
{{ end -}}