{{- if (or .next .previous) -}}
{{- $next := false -}}
{{- $previous := false -}}
{{- if site.Data.theme_moondeer.config.NextPrevArrowsReversed -}}
{{- $next = .previous -}}
{{- $previous = .next -}}
{{- else -}}
{{- $next = .next -}}
{{- $previous = .previous -}}
{{- end -}}
<nav id="next-prev" role="navigation">
{{- with $previous -}}<a href="{{ .Permalink }}">← Previous Post</a>{{- end -}}
<span id="breadcrumb">{{ partial "breadcrumb.html" . }}</span>
{{- with $next -}}<a href="{{ .Permalink }}">Next Post →></a>{{- end -}}
</div>
{{- end -}}