<h1>Pinned Posts</h1>
<span style="padding-bottom: 25px;"><span class="divider"></span></span>
<div style="padding-top: 25px;">
<a href="https://moondeer.micro.blog/2021/02/21/on-moving-the.html">
<img src="https://Moondeer.micro.blog/uploads/2021/97555d3b43.jpg" />
<h2 style="margin: 0;"  id="On Moving the Needle">On Moving the Needle</h2>
<p style="margin-top: 0; line-height: 26px; font-weight: 200px;">Wherein I present my argument (entirely composed of questions) for maximizing the amount of progress made beneath a Biden administration.</p>
</a>
</div>
<span class="separator"><span class="divider"></span></span>
<div>
<a href="https://moondeer.micro.blog/2021/02/24/on-dragons.html">
<img src="https://Moondeer.micro.blog/uploads/2021/6eb2245d1b.jpg" />
<h2 style="margin: 0;" id="On Dragons">On Dragons</h2>
<p style="margin-top: 0;line-height: 26px; font-weight: 200px;">Wherein I tie together mythology, uncontacted peoples, and the artistry of  weaving tapestries to form a larger philosophical point with regard to the efficacy and ingenuity of those solutions today’s challenges require us to find.</p>
</a>
</div>