<h1>Curated Posts</h1>
<span style="padding-bottom: 25px;"><span class="divider"></span></span>
<div style="padding-top: 25px;">
<a class="pinned"  href="https://moondeer.blog/2021/02/21/on-moving-the.html">
<img src="https://Moondeer.blog/uploads/2021/e851d41ea4.jpg" />
<h2 style="margin: 0;">On Moving the Needle</h2>
</a>
<p style="margin-top: 0; line-height: 26px; font-weight: 300">Wherein I present my argument (entirely composed of questions) for maximizing the amount of progress made beneath a Biden administration.</p>

</div>
<span class="separator"><span class="divider"></span></span>
<div>
<a class="pinned" href="https://moondeer.blog/2021/02/24/on-dragons.html">
<img src="https://Moondeer.blog/uploads/2021/6eb2245d1b.jpg" />
<h2 style="margin: 0;">On Dragons</h2>
</a>
<p style="margin-top: 0;line-height: 26px; font-weight: 300">Wherein I tie together mythology, uncontacted peoples, and the artistry of  weaving tapestries to form a larger philosophical point with regard to the efficacy and ingenuity of those solutions today’s challenges require us to find.</p>
</div>
<span class="separator"><span class="divider"></span></span>
<div>
<a class="pinned" href="https://moondeer.blog/2021/02/22/on-bright-futures.html">
<img src="https://Moondeer.blog/uploads/2021/0001f0e812.jpg" /><h2 style="margin: 0;">On Bright Futures</h2>
</a>
<p style="margin-top: 0;line-height: 26px; font-weight: 300">Wherein I examine the unsustainable nature of the reality rejectionist platform.</p>
</div>
<span class="separator"><span class="divider"></span></span>
<div>
<a class="pinned" href="https://moondeer.blog/2021/02/22/loving-your-trump.html">
<img src="https://Moondeer.blog/uploads/2021/3b3c727bf6.jpg" /><h2 style="margin: 0;">On Raging Bulls</h2>
</a>
<p style="margin-top: 0;line-height: 26px; font-weight: 300">Wherein I challenge Lindsey Graham to take me up on a little bet (all be it with a terribly excessive amount of special charactered cursing).</p>
</div>
<span class="separator"><span class="divider"></span></span>
<div>
<a class="pinned" href="https://moondeer.blog/2020/11/24/on-political-analysis.html">
<img src="https://Moondeer.blog/uploads/2021/022a150af5.jpg" /><h2 style="margin: 0;">On Political Analysis</h2>
</a>
<p style="margin-top: 0;line-height: 26px; font-weight: 300">Wherein I discuss our little dueling reality problem.</p>
</div>

<span class="separator"><span class="divider"></span></span>
<div>
<a class="pinned" href="https://moondeer.blog/2021/03/02/on-pet-loss.html">
<img src="https://Moondeer.blog/uploads/2021/4279dd6082.jpg" />
<h2 style="margin: 0;">On Pet Loss</h2>
</a>
<p style="margin-top: 0;line-height: 26px; font-weight: 300">Wherein I cut you some slack if you only stopped by for adorable critters.</p>
</div>
<span class="separator"><span class="divider"></span></span>
<div>
<a class="pinned" href="https://moondeer.blog/2021/02/27/so-long-twitter.html">
<img src="https://moondeer.blog/uploads/2021/05ec55d02b.jpg" />
<h2 style="margin: 0;">So long Twitter, and thanks for all the fish</h2>
</a>
<p style="margin-top: 0;line-height: 26px; font-weight: 300">Wherein I discover the people with which I would like to exchange ideas view Twitter as a captive audience.</p>
</div>
<span class="separator"><span class="divider"></span></span>
<div>
<a class="pinned" href="https://moondeer.blog/2021/02/21/on-fking-up.html">
<img src="https://Moondeer.blog/uploads/2021/afff796ca0.jpg" />
<h2 style="margin: 0;">On F$&king Up Careers</h2>
</a>
<p style="margin-top: 0;line-height: 26px; font-weight: 300">Wherein I layout a proven plan for going places without getting anywhere.</p>
</div>