{{- if (eq .Type "post") -}}

{{- /* Create a Scratch instance to gather data */ -}}
{{- $data := newScratch -}}

{{- /* Set the context and type */ -}}
{{- $data.Set "@context" "https://schema.org" -}}
{{- $data.Set "@type" "BlogPosting" -}}

{{- /* Add the author */ -}}
{{- $data.SetInMap "author" "@type" "Person" -}}
{{- $data.SetInMap "author" "name" (site.Author.name | default site.Params.Author.name) -}}
{{- $data.SetInMap "author" "url" (site.Author.About | default site.Params.AuthorURL) -}}

{{- /* Add the published and modified times */ -}}
{{- $iso8601 := site.Params.Theme.Date.ISO8601 -}}
{{- $date_published := cond .PublishDate.IsZero .Date .PublishDate -}}
{{- if not $date_published.IsZero -}}
{{- $date_published = $date_published.Format $iso8601 -}}
{{- else -}}
{{- $date_published = nil -}}
{{- end -}}
{{- with $date_published -}}
{{- $data.Set "datePublished" . -}}
{{- end -}}
{{- $date_modified := .Lastmod -}}
{{- if not $date_modified.IsZero -}}
{{- $date_modified = $date_modified.Format $iso8601 -}}
{{- else -}}
{{- $date_modified = nil -}}
{{- end -}}
{{- with $date_modified -}}
{{- $data.Set "dateModified" . -}}
{{- end -}}

{{- /* Add the title */ -}}
{{- with .Title -}}
{{- $data.Set "headline" . -}}
{{- end -}}

{{- /* Add any images */ -}}
{{- with .Params.images -}}
{{- $data.Set "image" (apply . "absURL" ".") -}}
{{- end -}}

{{- /* Add description */ -}}
{{- with .Summary -}}
{{- $data.Set "description" . -}}
{{- end -}}

{{- /* Add the word count */ -}}
{{- with .WordCount -}}
{{- $data.Set "wordcount" . -}}
{{- end -}}

{{- $map := dict "@context" ($data.Get "@context")  "@type" ($data.Get "@type") "author" ($data.Get "author") "datePublished" ($data.Get "datePublished") "dateModified" ($data.Get "dateModified") "headline" ($data.Get "headline") "image" ($data.Get "image") "description" ($data.Get "description") "wordcount" ($data.Get "wordcount") -}}

<script type="application/ld+json">
{{ $map | jsonify | safeJS }}
</script>

{{- end -}}