{{/* Template for the homepage */}}
{{- define "stylesheets" }}
<link rel="stylesheet" href="/assets/css/dark-nav.css">
<link rel="stylesheet" href="/assets/css/list.css">
{{- end }}

{{- define "navigation" }}
<nav class="main-nav">
<a class="selected" href="/">Latest</a>
{{- range site.Menus.main }}
<a href="{{ .URL }}"><nobr>{{ .Title }}</nobr></a>
{{- end }}
</nav>
{{- partial "header/banner.html" . }}
{{- end }}

{{ define "main" }}
<section id="wrapper">
{{- if .Site.Params.paginate_home }}
{{ partial "paginated-post-list.html" . }}
{{- else }}
{{ partial "post-list.html" . }}
{{- end }}
{{- partial "profile.html" . }}
</section>
{{- end }}