{{- define "stylesheets" -}}

{{ $dark_nav := resources.Get "sass/dark-nav.scss" | toCSS | fingerprint }}
<link rel="stylesheet" href="{{ $dark_nav.Permalink }}">

{{ $list := resources.Get "sass/list.scss" | toCSS | fingerprint }}
<link rel="stylesheet" href="{{ $list.Permalink }}">

{{- end -}}

{{- define "navigation" -}}

<nav class="main-nav">
<a class="selected" href="/">Latest</a>

{{- range site.Menus.main -}}

<a href="{{ .URL }}"><nobr>{{ .Title }}</nobr></a>

{{- end -}}

</nav>

{{- partial "header/banner.html" . -}}

{{- end -}}

{{- define "main" -}}

<section id="wrapper">


{{- $pages := slice -}}
{{- $paginate := false -}}

{{- if site.Params.paginate_home -}}

{{- $paginate = true -}}
{{- $pages = (.Paginate (where .Data.Pages.ByDate.Reverse "Type" "post")).Pages -}}

{{- else -}}

{{- $pages = where .Data.Pages.ByDate.Reverse "Type" "post" -}}

{{- end -}}

{{- with $pages }}{{ partial "post-list.html" . }}{{ end -}}

{{- if (and $pages $paginate) }}{{ partial "navigation/pagination" . }}{{ end -}}

{{- partial "profile.html" . -}}

</section>

{{- end -}}