{{/* Template for the home page */}}
{{- define "main" -}}

{{- partial "comment.html" "index.html#main" -}}

{{- $pages := slice -}}
{{- $paginate := false -}}

{{- if site.Params.paginate_home -}}

{{- $paginate = true -}}
{{- $pages = (.Paginate (where .Data.Pages.ByDate.Reverse "Type" "post")).Pages -}}

{{- else -}}

{{- $pages = where .Data.Pages.ByDate.Reverse "Type" "post" -}}

{{- end -}}

{{- with $pages }}{{ partial "post-list.html" . }}{{ end -}}

{{- if (and $pages $paginate) }}{{ partial "navigation/pagination" . }}{{ end -}}

{{- partial "profile.html" . -}}

{{- end -}}