{{- $gallery := .Get 0 -}}
<div class="{{ $gallery }}" style="display: flex;">
{{- $inner := .Inner -}}
{{- $images := findRE "[!][[][^]]*[]][(][^)]+[)]" $inner -}}
{{- range $images -}}
  {{- $caption := "" -}}
  {{- with (findRE "[[][^]]+[]]" .) 1 -}}
    {{- $caption = index . 0 | replaceRE "[[]([^]]+)[]]" "$1"  | safeHTML -}}
  {{- end -}}
  {{- $src := index (findRE "http[^)]+" .) 0 -}}
  <a href="{{ $src }}" 
   class="glightbox"
     data-gallery="{{ $gallery }}"
     {{- if gt (len $caption) 0 -}}
     data-glightbox="description:{{ $caption }}"
   {{end}}
>
<img src="https://micro.blog/photos/260x/{{ $src }}" style="width: 260px; height: auto; max-width: 100%" />
     </a>
{{- end -}}

</div>