{{/* Generates figure from generated markdown. */}}
<figure>
{{- $inner := .Inner -}}
{{- $caption := "" -}}
{{- with (findRE "[[][^]]+[]]" $inner) 1 -}}
{{- $caption = index . 0 | replaceRE "[[]([^]]+)[]]" "$1"  | safeHTML -}}
{{- end -}}
{{- with .Get "caption" }} {{ $caption =  .  }} {{ end -}}
{{- .Inner | markdownify -}}
{{- if gt (len $caption) 0 -}}
<figcaption>
{{- with .Get "link" -}}
  {{- $saneLink := "" -}}
  {{- with (findRE "[(][^)]+[)]" .) 1 -}}
    {{- if gt (len .) 0 -}}
      {{- $saneLink = index . 0 | replaceRE "[(]([^)]+)[)]" "$1" -}}
		<a {{ printf "href=%q" $saneLink | safeHTMLAttr }}><h4>{{ $caption | safeHTML }}</h4></a>
    {{- else -}}
<a {{ printf "href=%q" $saneLink | safeHTMLAttr }}><h4>{{ $caption | safeHTML }}</h4></a>
    {{- end -}}
  {{- else -}}
    <a {{ printf "href=%q" . | safeHTMLAttr }}><h4>{{ $caption | safeHTML  }}</h4></a>
  {{- end -}}
{{- else -}}
<h4>{{ $caption | safeHTML }}</h4>
{{- end -}}
</figcaption>
{{- end -}}
</figure>
<a href="{{ .Get "src" }}" 
   class="glightbox"
   {{ if .Get "gallery"}}
     data-gallery="{{ .Get "gallery" }}"
   {{ end }}
   {{ if or (.Get "title") (.Get "description") }}
     data-glightbox="title:{{ .Get "title" | default "" }};description:{{ .Get "description" | default "" }}"
   {{end}}
>
<img {{ if .Get "gallery"}} 
        src = "https://micro.blog/photos/260x/{{ .Get "src" }}" style="width: 260px; height: auto; max-width: 100%"
     {{ else }}
        src = "{{ .Get "src" }}" style="max-width: 100%"
     {{ end }}
     {{ if .Get "alt" }}
        alt="{{ .Get "alt" }}" 
     {{ end }}
     {{ if .Get "title" }}
        title={{ .Get "title" }} 
     {{ end }} />
     </a>