{{- if .Site.Params.include_debug_comments -}}
{{ printf "\n<!-- BEGIN layouts/partials/header/navigation/menu-page-navigation.html -->\n" | safeHTML }}
{{- end -}}
<a href="/">Latest</a>
{{ $current_page := . }}
{{- with $.Site.Menus.main -}}
  {{- range . }}
    {{- $class := "" -}}
    {{- if $current_page.IsMenuCurrent "main" . -}}
      {{- $class = "selected" -}}
    {{- end -}}
<a class="{{ $class }}" href="{{ .URL }}"><nobr>{{ .Title }}</nobr></a>
  {{ end -}}
{{- end -}}
{{- if .Site.Params.include_debug_comments -}}
{{ printf "\n<!-- END layouts/partials/header/navigation/menu-page-navigation.html -->\n" | safeHTML }}
{{- end -}}